.el-link {
    --el-link-font-size: var(--el-font-size-base);
    --el-link-font-weight: var(--el-font-weight-primary);
    --el-link-text-color: var(--el-text-color-regular);
    --el-link-hover-text-color: var(--el-color-primary);
    --el-link-disabled-text-color: var(--el-text-color-placeholder);
    vertical-align: middle;
    cursor: pointer;
    font-size: var(--el-link-font-size);
    font-weight: var(--el-link-font-weight);
    color: var(--el-link-text-color);
    outline: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    text-decoration: none;
    display: inline-flex;
    position: relative
}

.el-link.is-hover-underline:hover:after {
    content: "";
    border-bottom: 1px solid var(--el-link-hover-text-color);
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}

.el-link.is-underline:after {
    content: "";
    border-bottom: 1px solid var(--el-link-text-color);
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}

.el-link:hover {
    color: var(--el-link-hover-text-color)
}

.el-link:hover:after {
    border-color: var(--el-link-hover-text-color)
}

.el-link [class*=el-icon-]+span {
    margin-left: 0.5rem
}

.el-link__inner {
    justify-content: center;
    align-items: center;
    display: inline-flex
}

.el-link.el-link--primary {
    --el-link-text-color: var(--el-color-primary);
    --el-link-hover-text-color: var(--el-color-primary-light-3);
    --el-link-disabled-text-color: var(--el-color-primary-light-5)
}

.el-link.el-link--success {
    --el-link-text-color: var(--el-color-success);
    --el-link-hover-text-color: var(--el-color-success-light-3);
    --el-link-disabled-text-color: var(--el-color-success-light-5)
}

.el-link.el-link--warning {
    --el-link-text-color: var(--el-color-warning);
    --el-link-hover-text-color: var(--el-color-warning-light-3);
    --el-link-disabled-text-color: var(--el-color-warning-light-5)
}

.el-link.el-link--danger {
    --el-link-text-color: var(--el-color-danger);
    --el-link-hover-text-color: var(--el-color-danger-light-3);
    --el-link-disabled-text-color: var(--el-color-danger-light-5)
}

.el-link.el-link--error {
    --el-link-text-color: var(--el-color-error);
    --el-link-hover-text-color: var(--el-color-error-light-3);
    --el-link-disabled-text-color: var(--el-color-error-light-5)
}

.el-link.el-link--info {
    --el-link-text-color: var(--el-color-info);
    --el-link-hover-text-color: var(--el-color-info-light-3);
    --el-link-disabled-text-color: var(--el-color-info-light-5)
}

.el-link.is-disabled {
    color: var(--el-link-disabled-text-color);
    cursor: not-allowed
}

.el-link.is-disabled:after {
    border-color: var(--el-link-disabled-text-color)
}

:root {
    --el-loading-spinner-size: 42px;
    --el-loading-fullscreen-spinner-size: 4.2rem
}

.el-loading-parent--relative {
    position: relative !important
}

.el-loading-parent--hidden {
    overflow: hidden !important
}

.el-loading-mask {
    z-index: 2000;
    background-color: var(--el-mask-color);
    transition: opacity var(--el-transition-duration);
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.el-loading-mask.is-fullscreen {
    position: fixed
}

.el-loading-mask.is-fullscreen .el-loading-spinner {
    margin-top: calc((0px - var(--el-loading-fullscreen-spinner-size)) / 2)
}

.el-loading-mask.is-fullscreen .el-loading-spinner .circular {
    height: var(--el-loading-fullscreen-spinner-size);
    width: var(--el-loading-fullscreen-spinner-size)
}

.el-loading-spinner {
    margin-top: calc((0px - var(--el-loading-spinner-size)) / 2);
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%
}

.el-loading-spinner .el-loading-text {
    color: var(--el-color-primary);
    margin: 3px 0;
    font-size: 1.2rem
}

.el-loading-spinner .circular {
    height: var(--el-loading-spinner-size);
    width: var(--el-loading-spinner-size);
    animation: 2s linear infinite loading-rotate;
    display: inline
}

.el-loading-spinner .path {
    stroke-dasharray: 90 150;
    stroke-dashoffset: 0;
    stroke-width: 2px;
    stroke: var(--el-color-primary);
    stroke-linecap: round;
    animation: 1.5s ease-in-out infinite loading-dash
}

.el-loading-spinner i {
    color: var(--el-color-primary)
}

.el-loading-fade-enter-from,
.el-loading-fade-leave-to {
    opacity: 0
}

@keyframes loading-rotate {
    to {
        transform: rotate(360deg)
    }
}

@keyframes loading-dash {
    0% {
        stroke-dasharray: 1 200;
        stroke-dashoffset: 0
    }

    50% {
        stroke-dasharray: 90 150;
        stroke-dashoffset: -3.4rem
    }

    to {
        stroke-dasharray: 90 150;
        stroke-dashoffset: -120px
    }
}

.el-main {
    --el-main-padding: 1.6rem;
    box-sizing: border-box;
    padding: var(--el-main-padding);
    flex: auto;
    display: block;
    overflow: auto
}

:root {
    --el-menu-active-color: var(--el-color-primary);
    --el-menu-text-color: var(--el-text-color-primary);
    --el-menu-hover-text-color: var(--el-color-primary);
    --el-menu-bg-color: var(--el-fill-color-blank);
    --el-menu-hover-bg-color: var(--el-color-primary-light-9);
    --el-menu-item-height: 56px;
    --el-menu-sub-item-height: calc(var(--el-menu-item-height) - 0.5rem);
    --el-menu-horizontal-height: 5rem;
    --el-menu-horizontal-sub-item-height: 36px;
    --el-menu-item-font-size: var(--el-font-size-base);
    --el-menu-item-hover-fill: var(--el-color-primary-light-9);
    --el-menu-border-color: var(--el-border-color);
    --el-menu-base-level-padding: 1.6rem;
    --el-menu-level-padding: 1.6rem;
    --el-menu-icon-width: 2rem
}

.el-menu {
    border-right: solid 1px var(--el-menu-border-color);
    background-color: var(--el-menu-bg-color);
    box-sizing: border-box;
    margin: 0;
    padding-left: 0;
    list-style: none;
    position: relative
}

.el-menu--vertical:not(.el-menu--collapse):not(.el-menu--popup-container) .el-menu-item,
.el-menu--vertical:not(.el-menu--collapse):not(.el-menu--popup-container) .el-sub-menu__title,
.el-menu--vertical:not(.el-menu--collapse):not(.el-menu--popup-container) .el-menu-item-group__title {
    white-space: nowrap;
    padding-left: calc(var(--el-menu-base-level-padding) + var(--el-menu-level) * var(--el-menu-level-padding))
}

.el-menu:not(.el-menu--collapse) .el-sub-menu__title {
    padding-right: calc(var(--el-menu-base-level-padding) + var(--el-menu-icon-width))
}

.el-menu--horizontal {
    height: var(--el-menu-horizontal-height);
    border-right: none;
    flex-wrap: nowrap;
    display: flex
}

.el-menu--horizontal.el-menu--popup-container {
    height: unset
}

.el-menu--horizontal.el-menu {
    border-bottom: solid 1px var(--el-menu-border-color)
}

.el-menu--horizontal>.el-menu-item {
    height: 100%;
    color: var(--el-menu-text-color);
    border-bottom: 2px solid #0000;
    justify-content: center;
    align-items: center;
    margin: 0;
    display: inline-flex
}

.el-menu--horizontal>.el-menu-item a,
.el-menu--horizontal>.el-menu-item a:hover {
    color: inherit
}

.el-menu--horizontal>.el-sub-menu:focus,
.el-menu--horizontal>.el-sub-menu:hover {
    outline: none
}

.el-menu--horizontal>.el-sub-menu:hover .el-sub-menu__title {
    color: var(--el-menu-hover-text-color)
}

.el-menu--horizontal>.el-sub-menu.is-active .el-sub-menu__title {
    border-bottom: 2px solid var(--el-menu-active-color);
    color: var(--el-menu-active-color)
}

.el-menu--horizontal>.el-sub-menu .el-sub-menu__title {
    height: 100%;
    color: var(--el-menu-text-color);
    border-bottom: 2px solid #0000
}

.el-menu--horizontal>.el-sub-menu .el-sub-menu__title:hover {
    background-color: var(--el-menu-bg-color)
}

.el-menu--horizontal .el-menu .el-menu-item,
.el-menu--horizontal .el-menu .el-sub-menu__title {
    background-color: var(--el-menu-bg-color);
    height: var(--el-menu-horizontal-sub-item-height);
    line-height: var(--el-menu-horizontal-sub-item-height);
    color: var(--el-menu-text-color);
    align-items: center;
    padding: 0 0.8rem;
    display: flex
}

.el-menu--horizontal .el-menu .el-sub-menu__title {
    padding-right: 3.4rem
}

.el-menu--horizontal .el-menu .el-menu-item.is-active,
.el-menu--horizontal .el-menu .el-menu-item.is-active:hover,
.el-menu--horizontal .el-menu .el-sub-menu.is-active>.el-sub-menu__title,
.el-menu--horizontal .el-menu .el-sub-menu.is-active>.el-sub-menu__title:hover {
    color: var(--el-menu-active-color)
}

.el-menu--horizontal .el-menu-item:not(.is-disabled):hover,
.el-menu--horizontal .el-menu-item:not(.is-disabled):focus {
    color: var(--el-menu-active-color, var(--el-menu-hover-text-color));
    background-color: var(--el-menu-hover-bg-color);
    outline: none
}

.el-menu--horizontal>.el-menu-item.is-active {
    border-bottom: 2px solid var(--el-menu-active-color);
    color: var(--el-menu-active-color) !important
}

.el-menu--collapse {
    width: calc(var(--el-menu-icon-width) + var(--el-menu-base-level-padding) * 2)
}

.el-menu--collapse>.el-menu-item [class^=el-icon],
.el-menu--collapse>.el-sub-menu>.el-sub-menu__title [class^=el-icon],
.el-menu--collapse>.el-menu-item-group>ul>.el-sub-menu>.el-sub-menu__title [class^=el-icon] {
    vertical-align: middle;
    width: var(--el-menu-icon-width);
    text-align: center;
    margin: 0
}

.el-menu--collapse>.el-menu-item .el-sub-menu__icon-arrow,
.el-menu--collapse>.el-sub-menu>.el-sub-menu__title .el-sub-menu__icon-arrow,
.el-menu--collapse>.el-menu-item-group>ul>.el-sub-menu>.el-sub-menu__title .el-sub-menu__icon-arrow {
    display: none
}

.el-menu--collapse>.el-menu-item>span,
.el-menu--collapse>.el-sub-menu>.el-sub-menu__title>span,
.el-menu--collapse>.el-menu-item-group>ul>.el-sub-menu>.el-sub-menu__title>span {
    visibility: hidden;
    width: 0;
    height: 0;
    display: inline-block;
    overflow: hidden
}

.el-menu--collapse>.el-menu-item.is-active i {
    color: inherit
}

.el-menu--collapse .el-menu .el-sub-menu {
    min-width: 200px
}

.el-menu--collapse .el-sub-menu.is-active .el-sub-menu__title {
    color: var(--el-menu-active-color)
}

.el-menu--popup {
    z-index: 100;
    border-radius: var(--el-border-radius-small);
    min-width: 200px;
    box-shadow: var(--el-box-shadow-light);
    border: none;
    padding: 0.5rem 0
}

.el-menu .el-icon {
    flex-shrink: 0
}

.el-menu-item {
    height: var(--el-menu-item-height);
    line-height: var(--el-menu-item-height);
    font-size: var(--el-menu-item-font-size);
    color: var(--el-menu-text-color);
    padding: 0 var(--el-menu-base-level-padding);
    cursor: pointer;
    transition: border-color var(--el-transition-duration), background-color var(--el-transition-duration), color var(--el-transition-duration);
    box-sizing: border-box;
    white-space: nowrap;
    align-items: center;
    list-style: none;
    display: flex;
    position: relative
}

.el-menu-item * {
    vertical-align: bottom
}

.el-menu-item i {
    color: inherit
}

.el-menu-item:hover,
.el-menu-item:focus {
    outline: none
}

.el-menu-item:hover {
    background-color: var(--el-menu-hover-bg-color)
}

.el-menu-item.is-disabled {
    opacity: .25;
    cursor: not-allowed;
    background: 0 0 !important
}

.el-menu-item [class^=el-icon] {
    width: var(--el-menu-icon-width);
    text-align: center;
    vertical-align: middle;
    margin-right: 0.5rem;
    font-size: 1.5rem
}

.el-menu-item.is-active {
    color: var(--el-menu-active-color)
}

.el-menu-item.is-active i {
    color: inherit
}

.el-menu-item .el-menu-tooltip__trigger {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 var(--el-menu-base-level-padding);
    align-items: center;
    display: inline-flex;
    position: absolute;
    top: 0;
    left: 0
}

.el-sub-menu {
    margin: 0;
    padding-left: 0;
    list-style: none
}

.el-sub-menu__title {
    height: var(--el-menu-item-height);
    line-height: var(--el-menu-item-height);
    font-size: var(--el-menu-item-font-size);
    color: var(--el-menu-text-color);
    padding: 0 var(--el-menu-base-level-padding);
    cursor: pointer;
    transition: border-color var(--el-transition-duration), background-color var(--el-transition-duration), color var(--el-transition-duration);
    box-sizing: border-box;
    white-space: nowrap;
    align-items: center;
    list-style: none;
    display: flex;
    position: relative
}

.el-sub-menu__title * {
    vertical-align: bottom
}

.el-sub-menu__title i {
    color: inherit
}

.el-sub-menu__title:hover,
.el-sub-menu__title:focus {
    outline: none
}

.el-sub-menu__title.is-disabled {
    opacity: .25;
    cursor: not-allowed;
    background: 0 0 !important
}

.el-sub-menu__title:hover {
    background-color: var(--el-menu-hover-bg-color)
}

.el-sub-menu .el-menu {
    border: none
}

.el-sub-menu .el-menu-item {
    height: var(--el-menu-sub-item-height);
    line-height: var(--el-menu-sub-item-height)
}

.el-sub-menu.el-sub-menu__hide-arrow .el-sub-menu__title {
    padding-right: var(--el-menu-base-level-padding)
}

.el-sub-menu__hide-arrow .el-sub-menu__icon-arrow {
    display: none !important
}

.el-sub-menu.is-active .el-sub-menu__title {
    border-bottom-color: var(--el-menu-active-color)
}

.el-sub-menu.is-disabled .el-sub-menu__title,
.el-sub-menu.is-disabled .el-menu-item {
    opacity: .25;
    cursor: not-allowed;
    background: 0 0 !important
}

.el-sub-menu .el-icon {
    vertical-align: middle;
    width: var(--el-menu-icon-width);
    text-align: center;
    margin-right: 0.5rem;
    font-size: 1.5rem
}

.el-sub-menu .el-icon.el-sub-menu__icon-more {
    margin-right: 0 !important
}

.el-sub-menu .el-sub-menu__icon-arrow {
    top: 50%;
    right: var(--el-menu-base-level-padding);
    transition: transform var(--el-transition-duration);
    width: inherit;
    margin-top: -0.5rem;
    margin-right: 0;
    font-size: 1rem;
    position: absolute
}

.el-menu-item-group>ul {
    padding: 0
}

.el-menu-item-group__title {
    padding: 7px 0 7px var(--el-menu-base-level-padding);
    color: var(--el-text-color-secondary);
    font-size: 1rem;
    line-height: normal
}

.horizontal-collapse-transition .el-sub-menu__title .el-sub-menu__icon-arrow {
    transition: var(--el-transition-duration-fast);
    opacity: 0
}

.el-popper,
.el-menu--popup-container,
.el-menu {
    outline: none
}

.el-message-box {
    --el-messagebox-title-color: var(--el-text-color-primary);
    --el-messagebox-width: 420px;
    --el-messagebox-border-radius: 0.4rem;
    --el-messagebox-box-shadow: var(--el-box-shadow);
    --el-messagebox-font-size: var(--el-font-size-large);
    --el-messagebox-content-font-size: var(--el-font-size-base);
    --el-messagebox-content-color: var(--el-text-color-regular);
    --el-messagebox-error-font-size: 1rem;
    --el-messagebox-padding-primary: 1rem;
    --el-messagebox-font-line-height: var(--el-font-line-height-primary);
    max-width: var(--el-messagebox-width);
    width: 100%;
    padding: var(--el-messagebox-padding-primary);
    vertical-align: middle;
    background-color: var(--el-bg-color);
    border-radius: var(--el-messagebox-border-radius);
    font-size: var(--el-messagebox-font-size);
    box-shadow: var(--el-messagebox-box-shadow);
    text-align: left;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-sizing: border-box;
    overflow-wrap: break-word;
    display: inline-block;
    position: relative;
    overflow: hidden
}

.el-message-box:focus {
    outline: none !important
}

.is-message-box .el-overlay-message-box {
    text-align: center;
    padding: 1.4rem;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto
}

.is-message-box .el-overlay-message-box:after {
    content: "";
    vertical-align: middle;
    width: 0;
    height: 100%;
    display: inline-block
}

.el-message-box.is-draggable .el-message-box__header {
    cursor: move;
    -webkit-user-select: none;
    user-select: none
}

.el-message-box__header {
    padding-bottom: var(--el-messagebox-padding-primary)
}

.el-message-box__header.show-close {
    padding-right: calc(var(--el-messagebox-padding-primary) + var(--el-message-close-size, 1.4rem))
}

.el-message-box__title {
    font-size: var(--el-messagebox-font-size);
    line-height: var(--el-messagebox-font-line-height);
    color: var(--el-messagebox-title-color)
}

.el-message-box__headerbtn {
    width: 3.4rem;
    height: 3.4rem;
    font-size: var(--el-message-close-size, 1.4rem);
    cursor: pointer;
    background: 0 0;
    border: none;
    outline: none;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0
}

.el-message-box__headerbtn .el-message-box__close {
    color: var(--el-color-info);
    font-size: inherit
}

.el-message-box__headerbtn:focus .el-message-box__close,
.el-message-box__headerbtn:hover .el-message-box__close {
    color: var(--el-color-primary)
}

.el-message-box__content {
    color: var(--el-messagebox-content-color);
    font-size: var(--el-messagebox-content-font-size)
}

.el-message-box__container {
    align-items: center;
    gap: 1rem;
    display: flex
}

.el-message-box__input {
    padding-top: 1rem
}

.el-message-box__input div.invalid>input,
.el-message-box__input div.invalid>input:focus {
    border-color: var(--el-color-error)
}

.el-message-box__status {
    font-size: 2rem
}

.el-message-box__status.el-message-box-icon--primary {
    --el-messagebox-color: var(--el-color-primary);
    color: var(--el-messagebox-color)
}

.el-message-box__status.el-message-box-icon--success {
    --el-messagebox-color: var(--el-color-success);
    color: var(--el-messagebox-color)
}

.el-message-box__status.el-message-box-icon--info {
    --el-messagebox-color: var(--el-color-info);
    color: var(--el-messagebox-color)
}

.el-message-box__status.el-message-box-icon--warning {
    --el-messagebox-color: var(--el-color-warning);
    color: var(--el-messagebox-color)
}

.el-message-box__status.el-message-box-icon--error {
    --el-messagebox-color: var(--el-color-error);
    color: var(--el-messagebox-color)
}

.el-message-box__message {
    min-width: 0;
    margin: 0
}

.el-message-box__message p {
    line-height: var(--el-messagebox-font-line-height);
    margin: 0
}

.el-message-box__errormsg {
    color: var(--el-color-error);
    font-size: var(--el-messagebox-error-font-size);
    line-height: var(--el-messagebox-font-line-height)
}

.el-message-box__btns {
    padding-top: var(--el-messagebox-padding-primary);
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    display: flex
}

.el-message-box--center .el-message-box__title {
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    display: flex
}

.el-message-box--center .el-message-box__status {
    font-size: inherit
}

.el-message-box--center .el-message-box__btns,
.el-message-box--center .el-message-box__container {
    justify-content: center
}

.el-message-box-parent--hidden {
    overflow: hidden
}

.fade-in-linear-enter-active .el-overlay-message-box {
    animation: msgbox-fade-in var(--el-transition-duration)
}

.fade-in-linear-leave-active .el-overlay-message-box {
    animation: msgbox-fade-in var(--el-transition-duration) reverse
}

@keyframes msgbox-fade-in {
    0% {
        opacity: 0;
        transform: translateY(-1.6rem)
    }

    to {
        opacity: 1;
        transform: translate(0, 0)
    }
}

.el-message {
    --el-message-bg-color: var(--el-color-info-light-9);
    --el-message-border-color: var(--el-border-color-lighter);
    --el-message-padding: 2rem 1.3rem;
    --el-message-close-size: 1.4rem;
    --el-message-close-icon-color: var(--el-text-color-placeholder);
    --el-message-close-hover-color: var(--el-text-color-secondary);
    box-sizing: border-box;
    border-radius: var(--el-border-radius-base);
    border-width: var(--el-border-width);
    border-style: var(--el-border-style);
    border-color: var(--el-message-border-color);
    background-color: var(--el-message-bg-color);
    width: max-content;
    max-width: calc(100% - 2.6rem);
    transition: opacity var(--el-transition-duration), transform .4s, top .4s, bottom .4s;
    padding: var(--el-message-padding);
    align-items: center;
    gap: 0.6rem;
    display: flex;
    position: fixed
}

.el-message.is-left {
    left: 1.4rem
}

.el-message.is-right {
    right: 1.4rem
}

.el-message.is-center {
    left: 50%;
    transform: translate(-50%)
}

.el-message.is-plain {
    background-color: var(--el-bg-color-overlay);
    border-color: var(--el-bg-color-overlay);
    box-shadow: var(--el-box-shadow-light)
}

.el-message p {
    margin: 0
}

.el-message--primary {
    --el-message-bg-color: var(--el-color-primary-light-9);
    --el-message-border-color: var(--el-color-primary-light-8);
    --el-message-text-color: var(--el-color-primary)
}

.el-message--primary .el-message__content {
    color: var(--el-message-text-color);
    overflow-wrap: break-word
}

.el-message .el-message-icon--primary {
    color: var(--el-message-text-color)
}

.el-message--success {
    --el-message-bg-color: var(--el-color-success-light-9);
    --el-message-border-color: var(--el-color-success-light-8);
    --el-message-text-color: var(--el-color-success)
}

.el-message--success .el-message__content {
    color: var(--el-message-text-color);
    overflow-wrap: break-word
}

.el-message .el-message-icon--success {
    color: var(--el-message-text-color)
}

.el-message--info {
    --el-message-bg-color: var(--el-color-info-light-9);
    --el-message-border-color: var(--el-color-info-light-8);
    --el-message-text-color: var(--el-color-info)
}

.el-message--info .el-message__content {
    color: var(--el-message-text-color);
    overflow-wrap: break-word
}

.el-message .el-message-icon--info {
    color: var(--el-message-text-color)
}

.el-message--warning {
    --el-message-bg-color: var(--el-color-warning-light-9);
    --el-message-border-color: var(--el-color-warning-light-8);
    --el-message-text-color: var(--el-color-warning)
}

.el-message--warning .el-message__content {
    color: var(--el-message-text-color);
    overflow-wrap: break-word
}

.el-message .el-message-icon--warning {
    color: var(--el-message-text-color)
}

.el-message--error {
    --el-message-bg-color: var(--el-color-error-light-9);
    --el-message-border-color: var(--el-color-error-light-8);
    --el-message-text-color: var(--el-color-error)
}

.el-message--error .el-message__content {
    color: var(--el-message-text-color);
    overflow-wrap: break-word
}

.el-message .el-message-icon--error {
    color: var(--el-message-text-color)
}

.el-message .el-message__badge {
    position: absolute;
    top: -0.6rem;
    right: -0.6rem
}

.el-message__content {
    padding: 0;
    font-size: 1.2rem;
    line-height: 1
}

.el-message__content:focus {
    outline-width: 0
}

.el-message .el-message__closeBtn {
    cursor: pointer;
    color: var(--el-message-close-icon-color);
    font-size: var(--el-message-close-size)
}

.el-message .el-message__closeBtn:focus {
    outline-width: 0
}

.el-message .el-message__closeBtn:hover {
    color: var(--el-message-close-hover-color)
}

.el-message-fade-enter-from,
.el-message-fade-leave-to {
    opacity: 0
}

.el-message-fade-enter-from.is-left,
.el-message-fade-enter-from.is-right,
.el-message-fade-leave-to.is-left,
.el-message-fade-leave-to.is-right {
    transform: translateY(-100%)
}

.el-message-fade-enter-from.is-left.is-bottom,
.el-message-fade-enter-from.is-right.is-bottom,
.el-message-fade-leave-to.is-left.is-bottom,
.el-message-fade-leave-to.is-right.is-bottom {
    transform: translateY(100%)
}

.el-message-fade-enter-from.is-center,
.el-message-fade-leave-to.is-center {
    transform: translate(-50%, -100%)
}

.el-message-fade-enter-from.is-center.is-bottom,
.el-message-fade-leave-to.is-center.is-bottom {
    transform: translate(-50%, 100%)
}

.el-notification {
    --el-notification-width: 330px;
    --el-notification-padding: 1.2rem 26px 1.2rem 1.1rem;
    --el-notification-radius: 0.6rem;
    --el-notification-shadow: var(--el-box-shadow-light);
    --el-notification-border-color: var(--el-border-color-lighter);
    --el-notification-icon-size: 2rem;
    --el-notification-close-font-size: var(--el-message-close-size, 1.4rem);
    --el-notification-group-margin-left: 1.1rem;
    --el-notification-group-margin-right: 0.6rem;
    --el-notification-content-font-size: var(--el-font-size-base);
    --el-notification-content-color: var(--el-text-color-regular);
    --el-notification-title-font-size: 1.4rem;
    --el-notification-title-color: var(--el-text-color-primary);
    --el-notification-close-color: var(--el-text-color-secondary);
    --el-notification-close-hover-color: var(--el-text-color-regular);
    width: var(--el-notification-width);
    padding: var(--el-notification-padding);
    border-radius: var(--el-notification-radius);
    box-sizing: border-box;
    border: 1px solid var(--el-notification-border-color);
    background-color: var(--el-bg-color-overlay);
    box-shadow: var(--el-notification-shadow);
    transition: opacity var(--el-transition-duration), transform var(--el-transition-duration), left var(--el-transition-duration), right var(--el-transition-duration), top .4s, bottom var(--el-transition-duration);
    overflow-wrap: break-word;
    z-index: 9999;
    display: flex;
    position: fixed;
    overflow: hidden
}

.el-notification.right {
    right: 1.4rem
}

.el-notification.left {
    left: 1.4rem
}

.el-notification__group {
    min-width: 0;
    margin-left: var(--el-notification-group-margin-left);
    margin-right: var(--el-notification-group-margin-right);
    flex: 1
}

.el-notification__title {
    font-weight: 700;
    font-size: var(--el-notification-title-font-size);
    line-height: var(--el-notification-icon-size);
    color: var(--el-notification-title-color);
    margin: 0
}

.el-notification__content {
    font-size: var(--el-notification-content-font-size);
    color: var(--el-notification-content-color);
    margin: 0.5rem 0 0;
    line-height: 2rem
}

.el-notification__content p {
    margin: 0
}

.el-notification .el-notification__icon {
    height: var(--el-notification-icon-size);
    width: var(--el-notification-icon-size);
    font-size: var(--el-notification-icon-size);
    flex-shrink: 0
}

.el-notification .el-notification__closeBtn {
    cursor: pointer;
    color: var(--el-notification-close-color);
    font-size: var(--el-notification-close-font-size);
    position: absolute;
    top: 1.5rem;
    right: 1.3rem
}

.el-notification .el-notification__closeBtn:hover {
    color: var(--el-notification-close-hover-color)
}

.el-notification .el-notification--primary {
    --el-notification-icon-color: var(--el-color-primary);
    color: var(--el-notification-icon-color)
}

.el-notification .el-notification--success {
    --el-notification-icon-color: var(--el-color-success);
    color: var(--el-notification-icon-color)
}

.el-notification .el-notification--info {
    --el-notification-icon-color: var(--el-color-info);
    color: var(--el-notification-icon-color)
}

.el-notification .el-notification--warning {
    --el-notification-icon-color: var(--el-color-warning);
    color: var(--el-notification-icon-color)
}

.el-notification .el-notification--error {
    --el-notification-icon-color: var(--el-color-error);
    color: var(--el-notification-icon-color)
}

.el-notification-fade-enter-from.right {
    right: 0;
    transform: translate(100%)
}

.el-notification-fade-enter-from.left {
    left: 0;
    transform: translate(-100%)
}

.el-notification-fade-leave-to {
    opacity: 0
}

.el-overlay {
    z-index: 2000;
    background-color: var(--el-overlay-color-lighter);
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto
}

.el-overlay .el-overlay-root {
    height: 0
}