
.el-descriptions {
    --el-descriptions-table-border: 1px solid var(--el-border-color-lighter);
    --el-descriptions-item-bordered-label-background: var(--el-fill-color-light);
    box-sizing: border-box;
    font-size: var(--el-font-size-base);
    color: var(--el-text-color-primary)
}

.el-descriptions__header {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.4rem;
    display: flex
}

.el-descriptions__title {
    color: var(--el-text-color-primary);
    font-size: 1.4rem;
    font-weight: 700
}

.el-descriptions__body {
    background-color: var(--el-fill-color-blank)
}

.el-descriptions__body .el-descriptions__table {
    border-collapse: collapse;
    width: 100%
}

.el-descriptions__body .el-descriptions__table .el-descriptions__cell {
    box-sizing: border-box;
    text-align: left;
    font-size: 1.2rem;
    line-height: 23px
}

.el-descriptions__body .el-descriptions__table .el-descriptions__cell.is-left {
    text-align: left
}

.el-descriptions__body .el-descriptions__table .el-descriptions__cell.is-center {
    text-align: center
}

.el-descriptions__body .el-descriptions__table .el-descriptions__cell.is-right {
    text-align: right
}

.el-descriptions__body .el-descriptions__table.is-bordered .el-descriptions__cell {
    border: var(--el-descriptions-table-border);
    padding: 0.6rem 11px
}

.el-descriptions__body .el-descriptions__table:not(.is-bordered) .el-descriptions__cell {
    padding-bottom: 1rem
}

.el-descriptions--large {
    font-size: 1.2rem
}

.el-descriptions--large .el-descriptions__header {
    margin-bottom: 1.6rem
}

.el-descriptions--large .el-descriptions__header .el-descriptions__title {
    font-size: 1.4rem
}

.el-descriptions--large .el-descriptions__body .el-descriptions__table .el-descriptions__cell {
    font-size: 1.2rem
}

.el-descriptions--large .el-descriptions__body .el-descriptions__table.is-bordered .el-descriptions__cell {
    padding: 1rem 15px
}

.el-descriptions--large .el-descriptions__body .el-descriptions__table:not(.is-bordered) .el-descriptions__cell {
    padding-bottom: 1.4rem
}

.el-descriptions--small {
    font-size: 1rem
}

.el-descriptions--small .el-descriptions__header {
    margin-bottom: 1rem
}

.el-descriptions--small .el-descriptions__header .el-descriptions__title {
    font-size: 1.2rem
}

.el-descriptions--small .el-descriptions__body .el-descriptions__table .el-descriptions__cell {
    font-size: 1rem
}

.el-descriptions--small .el-descriptions__body .el-descriptions__table.is-bordered .el-descriptions__cell {
    padding: 0.4rem 7px
}

.el-descriptions--small .el-descriptions__body .el-descriptions__table:not(.is-bordered) .el-descriptions__cell {
    padding-bottom: 0.6rem
}

.el-descriptions__label.el-descriptions__cell.is-bordered-label {
    color: var(--el-text-color-regular);
    background: var(--el-descriptions-item-bordered-label-background);
    font-weight: 700
}

.el-descriptions__label:not(.is-bordered-label) {
    color: var(--el-text-color-primary);
    margin-right: 1.4rem
}

.el-descriptions__label.el-descriptions__cell:not(.is-bordered-label).is-vertical-label {
    padding-bottom: 0.5rem
}

.el-descriptions__content.el-descriptions__cell.is-bordered-content {
    color: var(--el-text-color-primary)
}

.el-descriptions__content:not(.is-bordered-label) {
    color: var(--el-text-color-regular)
}

.el-descriptions--large .el-descriptions__label:not(.is-bordered-label) {
    margin-right: 1.4rem
}

.el-descriptions--large .el-descriptions__label.el-descriptions__cell:not(.is-bordered-label).is-vertical-label {
    padding-bottom: 0.6rem
}

.el-descriptions--small .el-descriptions__label:not(.is-bordered-label) {
    margin-right: 1rem
}

.el-descriptions--small .el-descriptions__label.el-descriptions__cell:not(.is-bordered-label).is-vertical-label {
    padding-bottom: 0.4rem
}

:root {
    --el-popup-modal-bg-color: var(--el-color-black);
    --el-popup-modal-opacity: .5
}

.v-modal-enter {
    animation: v-modal-in var(--el-transition-duration-fast) ease
}

.v-modal-leave {
    animation: v-modal-out var(--el-transition-duration-fast) ease forwards
}

@keyframes v-modal-in {
    0% {
        opacity: 0
    }
}

@keyframes v-modal-out {
    to {
        opacity: 0
    }
}

.v-modal {
    width: 100%;
    height: 100%;
    opacity: var(--el-popup-modal-opacity);
    background: var(--el-popup-modal-bg-color);
    position: fixed;
    top: 0;
    left: 0
}

.el-popup-parent--hidden {
    overflow: hidden
}

.el-dialog {
    --el-dialog-width: 50%;
    --el-dialog-margin-top: 15vh;
    --el-dialog-bg-color: var(--el-bg-color);
    --el-dialog-box-shadow: var(--el-box-shadow);
    --el-dialog-title-font-size: var(--el-font-size-large);
    --el-dialog-content-font-size: 1.2rem;
    --el-dialog-font-line-height: var(--el-font-line-height-primary);
    --el-dialog-padding-primary: 1.4rem;
    --el-dialog-border-radius: var(--el-border-radius-base);
    margin: var(--el-dialog-margin-top, 15vh) auto 4.2rem;
    background: var(--el-dialog-bg-color);
    border-radius: var(--el-dialog-border-radius);
    box-shadow: var(--el-dialog-box-shadow);
    box-sizing: border-box;
    padding: var(--el-dialog-padding-primary);
    width: var(--el-dialog-width, 50%);
    overflow-wrap: break-word;
    position: relative
}

.el-dialog:focus {
    outline: none !important
}

.el-dialog.is-align-center {
    margin: auto
}

.el-dialog.is-fullscreen {
    --el-dialog-width: 100%;
    --el-dialog-margin-top: 0;
    border-radius: 0;
    height: 100%;
    margin-bottom: 0;
    overflow: auto
}

.el-dialog__wrapper {
    margin: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto
}

.el-dialog.is-draggable .el-dialog__header {
    cursor: move;
    -webkit-user-select: none;
    user-select: none
}

.el-dialog__header {
    padding-bottom: var(--el-dialog-padding-primary)
}

.el-dialog__header.show-close {
    padding-right: calc(var(--el-dialog-padding-primary) + var(--el-message-close-size, 1.4rem))
}

.el-dialog__headerbtn {
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    font-size: var(--el-message-close-size, 1.4rem);
    background: 0 0;
    border: none;
    outline: none;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0
}

.el-dialog__headerbtn .el-dialog__close {
    color: var(--el-color-info);
    font-size: inherit
}

.el-dialog__headerbtn:focus .el-dialog__close,
.el-dialog__headerbtn:hover .el-dialog__close {
    color: var(--el-color-primary)
}

.el-dialog__title {
    line-height: var(--el-dialog-font-line-height);
    font-size: var(--el-dialog-title-font-size);
    color: var(--el-text-color-primary)
}

.el-dialog__body {
    color: var(--el-text-color-regular);
    font-size: var(--el-dialog-content-font-size)
}

.el-dialog__footer {
    padding-top: var(--el-dialog-padding-primary);
    text-align: right;
    box-sizing: border-box
}

.el-dialog--center {
    text-align: center
}

.el-dialog--center .el-dialog__body {
    text-align: initial
}

.el-dialog--center .el-dialog__footer {
    text-align: inherit
}

.el-modal-dialog.is-penetrable {
    pointer-events: none
}

.el-modal-dialog.is-penetrable .el-dialog {
    pointer-events: auto
}

.el-overlay-dialog {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto
}

.el-overlay-dialog.is-closing .el-dialog {
    pointer-events: none
}

.dialog-fade-enter-active {
    animation: modal-fade-in var(--el-transition-duration)
}

.dialog-fade-enter-active .el-overlay-dialog {
    animation: dialog-fade-in var(--el-transition-duration)
}

.dialog-fade-leave-active {
    animation: modal-fade-out var(--el-transition-duration)
}

.dialog-fade-leave-active .el-overlay-dialog {
    animation: dialog-fade-out var(--el-transition-duration)
}

@keyframes dialog-fade-in {
    0% {
        opacity: 0;
        transform: translateY(-1.6rem)
    }

    to {
        opacity: 1;
        transform: translate(0, 0)
    }
}

@keyframes dialog-fade-out {
    0% {
        opacity: 1;
        transform: translate(0, 0)
    }

    to {
        opacity: 0;
        transform: translateY(-1.6rem)
    }
}

@keyframes modal-fade-in {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes modal-fade-out {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

.el-divider {
    position: relative
}

.el-divider--horizontal {
    border-top: 1px var(--el-border-color) var(--el-border-style);
    width: 100%;
    height: 1px;
    margin: 2rem 0;
    display: block
}

.el-divider--vertical {
    vertical-align: middle;
    border-left: 1px var(--el-border-color) var(--el-border-style);
    width: 1px;
    height: 1em;
    margin: 0 0.6rem;
    display: inline-block;
    position: relative
}

.el-divider__text {
    background-color: var(--el-bg-color);
    color: var(--el-text-color-primary);
    padding: 0 1.6rem;
    font-size: 1.2rem;
    font-weight: 500;
    position: absolute
}

.el-divider__text.is-left {
    left: 1.6rem;
    transform: translateY(-50%)
}

.el-divider__text.is-center {
    left: 50%;
    transform: translate(-50%)translateY(-50%)
}

.el-divider__text.is-right {
    right: 1.6rem;
    transform: translateY(-50%)
}

.el-overlay.is-drawer {
    overflow: hidden
}

.el-drawer {
    --el-drawer-bg-color: var(--el-dialog-bg-color, var(--el-bg-color));
    --el-drawer-padding-primary: var(--el-dialog-padding-primary, 1.6rem);
    --el-drawer-dragger-size: 0.6rem;
    box-sizing: border-box;
    background-color: var(--el-drawer-bg-color);
    box-shadow: var(--el-box-shadow-dark);
    transition: all var(--el-transition-duration);
    flex-direction: column;
    display: flex;
    position: absolute
}

.el-drawer .rtl,
.el-drawer .ltr,
.el-drawer .ttb,
.el-drawer .btt {
    transform: translate(0)
}

.el-drawer__sr-focus:focus {
    outline: none !important
}

.el-drawer__header {
    color: var(--el-text-color-primary);
    padding: var(--el-drawer-padding-primary);
    align-items: center;
    margin-bottom: 2.6rem;
    padding-bottom: 0;
    display: flex;
    overflow: hidden
}

.el-drawer__header>:first-child {
    flex: 1
}

.el-drawer__title {
    line-height: inherit;
    flex: 1;
    margin: 0;
    font-size: 1.4rem
}

.el-drawer__footer {
    padding: var(--el-drawer-padding-primary);
    text-align: right;
    padding-top: 0.8rem;
    overflow: hidden
}

.el-drawer__close-btn {
    cursor: pointer;
    font-size: var(--el-font-size-extra-large);
    color: inherit;
    background-color: #0000;
    border: none;
    outline: none;
    display: inline-flex
}

.el-drawer__close-btn:focus i,
.el-drawer__close-btn:hover i {
    color: var(--el-color-primary)
}

.el-drawer__body {
    padding: var(--el-drawer-padding-primary);
    flex: 1;
    overflow: auto
}

.el-drawer__body>* {
    box-sizing: border-box
}

.el-drawer.is-dragging {
    transition: none
}

.el-drawer__dragger {
    -webkit-user-select: none;
    user-select: none;
    background-color: #0000;
    transition: all .2s;
    position: absolute
}

.el-drawer__dragger:before {
    content: "";
    background-color: #0000;
    transition: all .2s;
    position: absolute
}

.el-drawer__dragger:hover:before {
    background-color: var(--el-color-primary)
}

.el-drawer.ltr,
.el-drawer.rtl {
    height: 100%;
    top: 0;
    bottom: 0
}

.el-drawer.ltr>.el-drawer__dragger,
.el-drawer.rtl>.el-drawer__dragger {
    height: 100%;
    width: var(--el-drawer-dragger-size);
    cursor: ew-resize;
    top: 0;
    bottom: 0
}

.el-drawer.ltr>.el-drawer__dragger:before,
.el-drawer.rtl>.el-drawer__dragger:before {
    width: 3px;
    top: 0;
    bottom: 0
}

.el-drawer.ttb,
.el-drawer.btt {
    width: 100%;
    left: 0;
    right: 0
}

.el-drawer.ttb>.el-drawer__dragger,
.el-drawer.btt>.el-drawer__dragger {
    width: 100%;
    height: var(--el-drawer-dragger-size);
    cursor: ns-resize;
    left: 0;
    right: 0
}

.el-drawer.ttb>.el-drawer__dragger:before,
.el-drawer.btt>.el-drawer__dragger:before {
    height: 3px;
    left: 0;
    right: 0
}

.el-drawer.ltr {
    left: 0
}

.el-drawer.ltr>.el-drawer__dragger {
    right: 0
}

.el-drawer.ltr>.el-drawer__dragger:before {
    right: -2px
}

.el-drawer.rtl {
    right: 0
}

.el-drawer.rtl>.el-drawer__dragger {
    left: 0
}

.el-drawer.rtl>.el-drawer__dragger:before {
    left: -2px
}

.el-drawer.ttb {
    top: 0
}

.el-drawer.ttb>.el-drawer__dragger {
    bottom: 0
}

.el-drawer.ttb>.el-drawer__dragger:before {
    bottom: -2px
}

.el-drawer.btt {
    bottom: 0
}

.el-drawer.btt>.el-drawer__dragger {
    top: 0
}

.el-drawer.btt>.el-drawer__dragger:before {
    top: -2px
}

.el-modal-drawer.is-penetrable {
    pointer-events: none
}

.el-modal-drawer.is-penetrable .el-drawer {
    pointer-events: auto
}

.el-drawer-fade-enter-active,
.el-drawer-fade-leave-active {
    transition: all var(--el-transition-duration)
}

.el-drawer-fade-enter-from,
.el-drawer-fade-enter-active,
.el-drawer-fade-enter-to,
.el-drawer-fade-leave-from,
.el-drawer-fade-leave-active,
.el-drawer-fade-leave-to {
    overflow: hidden !important
}

.el-drawer-fade-enter-from,
.el-drawer-fade-leave-to {
    background-color: #0000 !important
}

.el-drawer-fade-enter-from .rtl,
.el-drawer-fade-leave-to .rtl {
    transform: translate(100%)
}

.el-drawer-fade-enter-from .ltr,
.el-drawer-fade-leave-to .ltr {
    transform: translate(-100%)
}

.el-drawer-fade-enter-from .ttb,
.el-drawer-fade-leave-to .ttb {
    transform: translateY(-100%)
}

.el-drawer-fade-enter-from .btt,
.el-drawer-fade-leave-to .btt {
    transform: translateY(100%)
}

.el-dropdown {
    --el-dropdown-menu-box-shadow: var(--el-box-shadow-light);
    --el-dropdown-menuItem-hover-fill: var(--el-color-primary-light-9);
    --el-dropdown-menuItem-hover-color: var(--el-color-primary);
    --el-dropdown-menu-index: 10;
    color: var(--el-text-color-regular);
    font-size: var(--el-font-size-base);
    vertical-align: top;
    line-height: 1;
    display: inline-flex;
    position: relative
}

.el-dropdown.is-disabled {
    color: var(--el-text-color-placeholder);
    cursor: not-allowed
}

.el-dropdown__popper {
    --el-dropdown-menu-box-shadow: var(--el-box-shadow-light);
    --el-dropdown-menuItem-hover-fill: var(--el-color-primary-light-9);
    --el-dropdown-menuItem-hover-color: var(--el-color-primary);
    --el-dropdown-menu-index: 10
}

.el-dropdown__popper.el-popper {
    background: var(--el-bg-color-overlay);
    border: 1px solid var(--el-border-color-light);
    box-shadow: var(--el-dropdown-menu-box-shadow)
}

.el-dropdown__popper.el-popper .el-popper__arrow:before {
    border: 1px solid var(--el-border-color-light)
}

.el-dropdown__popper.el-popper[data-popper-placement^=top] .el-popper__arrow:before {
    border-top-color: #0000;
    border-left-color: #0000
}

.el-dropdown__popper.el-popper[data-popper-placement^=bottom] .el-popper__arrow:before {
    border-bottom-color: #0000;
    border-right-color: #0000
}

.el-dropdown__popper.el-popper[data-popper-placement^=left] .el-popper__arrow:before {
    border-bottom-color: #0000;
    border-left-color: #0000
}

.el-dropdown__popper.el-popper[data-popper-placement^=right] .el-popper__arrow:before {
    border-top-color: #0000;
    border-right-color: #0000
}

.el-dropdown__popper .el-dropdown-menu {
    border: none
}

.el-dropdown__popper .el-dropdown__popper-selfdefine {
    outline: none
}

.el-dropdown__popper .el-scrollbar__bar {
    z-index: calc(var(--el-dropdown-menu-index) + 1)
}

.el-dropdown__popper .el-dropdown__list {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none
}

.el-dropdown .el-dropdown__caret-button {
    border-left: none;
    justify-content: center;
    align-items: center;
    width: 2.6rem;
    padding-left: 0;
    padding-right: 0;
    display: inline-flex
}

.el-dropdown .el-dropdown__caret-button>span {
    display: inline-flex
}

.el-dropdown .el-dropdown__caret-button:before {
    content: "";
    background: var(--el-overlay-color-lighter);
    width: 1px;
    display: block;
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: 0
}

.el-dropdown .el-dropdown__caret-button.el-button:before {
    background: var(--el-border-color);
    opacity: .5
}

.el-dropdown .el-dropdown__caret-button .el-dropdown__icon {
    font-size: inherit;
    padding-left: 0
}

.el-dropdown .el-dropdown-selfdefine {
    outline: none
}

.el-dropdown--large .el-dropdown__caret-button {
    width: 3.4rem
}

.el-dropdown--small .el-dropdown__caret-button {
    width: 2rem
}

.el-dropdown-menu {
    z-index: var(--el-dropdown-menu-index);
    background-color: var(--el-bg-color-overlay);
    border-radius: var(--el-border-radius-base);
    box-shadow: none;
    border: none;
    margin: 0;
    padding: 0.5rem 0;
    list-style: none;
    position: relative;
    top: 0;
    left: 0
}

.el-dropdown-menu__item {
    white-space: nowrap;
    line-height: 1.8rem;
    font-size: var(--el-font-size-base);
    color: var(--el-text-color-regular);
    cursor: pointer;
    outline: none;
    align-items: center;
    margin: 0;
    padding: 0.5rem 1.4rem;
    list-style: none;
    display: flex
}

.el-dropdown-menu__item:not(.is-disabled):hover,
.el-dropdown-menu__item:not(.is-disabled):focus {
    background-color: var(--el-dropdown-menuItem-hover-fill);
    color: var(--el-dropdown-menuItem-hover-color)
}

.el-dropdown-menu__item i {
    margin-right: 0.5rem
}

.el-dropdown-menu__item--divided {
    border-top: 1px solid var(--el-border-color-lighter);
    margin: 0.5rem 0
}

.el-dropdown-menu__item.is-disabled {
    cursor: not-allowed;
    color: var(--el-text-color-disabled)
}

.el-dropdown-menu--large {
    padding: 7px 0
}

.el-dropdown-menu--large .el-dropdown-menu__item {
    padding: 7px 1.6rem;
    font-size: 1.2rem;
    line-height: 1.8rem
}

.el-dropdown-menu--large .el-dropdown-menu__item--divided {
    margin: 0.6rem 0
}

.el-dropdown-menu--small {
    padding: 3px 0
}

.el-dropdown-menu--small .el-dropdown-menu__item {
    padding: 2px 1rem;
    font-size: 1rem;
    line-height: 1.6rem
}

.el-dropdown-menu--small .el-dropdown-menu__item--divided {
    margin: 0.4rem 0
}

.el-empty {
    --el-empty-padding: 3.4rem 0;
    --el-empty-image-width: 160px;
    --el-empty-description-margin-top: 1.6rem;
    --el-empty-bottom-margin-top: 1.6rem;
    --el-empty-fill-color-0: var(--el-color-white);
    --el-empty-fill-color-1: #fcfcfd;
    --el-empty-fill-color-2: #f8f9fb;
    --el-empty-fill-color-3: #f7f8fc;
    --el-empty-fill-color-4: #eeeff3;
    --el-empty-fill-color-5: #edeef2;
    --el-empty-fill-color-6: #e9ebef;
    --el-empty-fill-color-7: #e5e7e9;
    --el-empty-fill-color-8: #e0e3e9;
    --el-empty-fill-color-9: #d5d7de;
    text-align: center;
    box-sizing: border-box;
    padding: var(--el-empty-padding);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex
}

.el-empty__image {
    width: var(--el-empty-image-width)
}

.el-empty__image img {
    -webkit-user-select: none;
    user-select: none;
    vertical-align: top;
    object-fit: contain;
    width: 100%;
    height: 100%
}

.el-empty__image svg {
    color: var(--el-svg-monochrome-grey);
    fill: currentColor;
    vertical-align: top;
    width: 100%;
    height: 100%
}

.el-empty__description {
    margin-top: var(--el-empty-description-margin-top)
}

.el-empty__description p {
    font-size: var(--el-font-size-base);
    color: var(--el-text-color-secondary);
    margin: 0
}

.el-empty__bottom {
    margin-top: var(--el-empty-bottom-margin-top)
}

.el-footer {
    --el-footer-padding: 0 1.6rem;
    --el-footer-height: 60px;
    padding: var(--el-footer-padding);
    box-sizing: border-box;
    height: var(--el-footer-height);
    flex-shrink: 0
}