.el-page-header.is-contentful .el-page-header__main {
    border-top: 1px solid var(--el-border-color-light);
    margin-top: 1.4rem
}

.el-page-header__header {
    justify-content: space-between;
    align-items: center;
    line-height: 2rem;
    display: flex
}

.el-page-header__left {
    align-items: center;
    margin-right: 3.4rem;
    display: flex;
    position: relative
}

.el-page-header__back {
    cursor: pointer;
    align-items: center;
    display: flex
}

.el-page-header__left .el-divider--vertical {
    margin: 0 1.4rem
}

.el-page-header__icon {
    align-items: center;
    margin-right: 0.8rem;
    font-size: 1.4rem;
    display: flex
}

.el-page-header__icon .el-icon {
    font-size: inherit
}

.el-page-header__title {
    font-size: 1.2rem;
    font-weight: 500
}

.el-page-header__content {
    color: var(--el-text-color-primary);
    font-size: 1.5rem
}

.el-page-header__breadcrumb {
    margin-bottom: 1.4rem
}

.el-pagination {
    --el-pagination-font-size: 1.2rem;
    --el-pagination-bg-color: var(--el-fill-color-blank);
    --el-pagination-text-color: var(--el-text-color-primary);
    --el-pagination-border-radius: 2px;
    --el-pagination-button-color: var(--el-text-color-primary);
    --el-pagination-button-width: 2.6rem;
    --el-pagination-button-height: 2.6rem;
    --el-pagination-button-disabled-color: var(--el-text-color-placeholder);
    --el-pagination-button-disabled-bg-color: var(--el-fill-color-blank);
    --el-pagination-button-bg-color: var(--el-fill-color);
    --el-pagination-hover-color: var(--el-color-primary);
    --el-pagination-font-size-small: 1rem;
    --el-pagination-button-width-small: 2rem;
    --el-pagination-button-height-small: 2rem;
    --el-pagination-button-width-large: 3.4rem;
    --el-pagination-button-height-large: 3.4rem;
    --el-pagination-item-gap: 1.4rem;
    white-space: nowrap;
    color: var(--el-pagination-text-color);
    font-size: var(--el-pagination-font-size);
    align-items: center;
    font-weight: 400;
    display: flex
}

.el-pagination .el-input__inner {
    text-align: center;
    -moz-appearance: textfield
}

.el-pagination .el-select {
    width: 10.6rem;
}

.el-pagination .btn-prev,
.el-pagination .btn-next {
    font-size: var(--el-pagination-font-size);
    min-width: var(--el-pagination-button-width);
    height: var(--el-pagination-button-height);
    line-height: var(--el-pagination-button-height);
    color: var(--el-pagination-button-color);
    background: var(--el-pagination-bg-color);
    border-radius: var(--el-pagination-border-radius);
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    border: none;
    justify-content: center;
    align-items: center;
    padding: 0 0.4rem;
    display: flex
}

.el-pagination .btn-prev *,
.el-pagination .btn-next * {
    pointer-events: none
}

.el-pagination .btn-prev:focus,
.el-pagination .btn-next:focus {
    outline: none
}

.el-pagination .btn-prev:hover,
.el-pagination .btn-next:hover {
    color: var(--el-pagination-hover-color)
}

.el-pagination .btn-prev.is-active,
.el-pagination .btn-next.is-active {
    color: var(--el-pagination-hover-color);
    cursor: default;
    font-weight: 700
}

.el-pagination .btn-prev.is-active.is-disabled,
.el-pagination .btn-next.is-active.is-disabled {
    color: var(--el-text-color-secondary);
    font-weight: 700
}

.el-pagination .btn-prev:disabled,
.el-pagination .btn-prev.is-disabled,
.el-pagination .btn-next:disabled,
.el-pagination .btn-next.is-disabled {
    color: var(--el-pagination-button-disabled-color);
    background-color: var(--el-pagination-button-disabled-bg-color);
    cursor: not-allowed
}

.el-pagination .btn-prev:focus-visible {
    outline: 1px solid var(--el-pagination-hover-color);
    outline-offset: -1px
}

.el-pagination .btn-next:focus-visible {
    outline: 1px solid var(--el-pagination-hover-color);
    outline-offset: -1px
}

.el-pagination .btn-prev .el-icon,
.el-pagination .btn-next .el-icon {
    width: inherit;
    font-size: 1rem;
    font-weight: 700;
    display: block
}

.el-pagination>.is-first {
    margin-left: 0 !important
}

.el-pagination>.is-last {
    margin-right: 0 !important
}

.el-pagination .btn-prev {
    margin-left: var(--el-pagination-item-gap)
}

.el-pagination__sizes,
.el-pagination__total {
    margin-left: var(--el-pagination-item-gap);
    color: var(--el-text-color-regular);
    font-weight: 400
}

.el-pagination__total[disabled=true] {
    color: var(--el-text-color-placeholder)
}

.el-pagination__jump {
    margin-left: var(--el-pagination-item-gap);
    color: var(--el-text-color-regular);
    align-items: center;
    font-weight: 400;
    display: flex
}

.el-pagination__jump[disabled=true] {
    color: var(--el-text-color-placeholder)
}

.el-pagination__goto {
    margin-right: 0.6rem
}

.el-pagination__editor {
    text-align: center;
    box-sizing: border-box
}

.el-pagination__editor.el-input {
    width: 4.6rem;
}

.el-pagination__editor .el-input__inner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.el-pagination__editor .el-input__inner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.el-pagination__classifier {
    margin-left: 0.6rem
}

.el-pagination__rightwrapper {
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    display: flex
}

.el-pagination.is-background .btn-prev,
.el-pagination.is-background .btn-next,
.el-pagination.is-background .el-pager li {
    background-color: var(--el-pagination-button-bg-color);
    margin: 0 0.4rem
}

.el-pagination.is-background .btn-prev.is-active,
.el-pagination.is-background .btn-next.is-active,
.el-pagination.is-background .el-pager li.is-active {
    background-color: var(--el-color-primary);
    color: var(--el-color-white)
}

.el-pagination.is-background .btn-prev:disabled,
.el-pagination.is-background .btn-prev.is-disabled,
.el-pagination.is-background .btn-next:disabled,
.el-pagination.is-background .btn-next.is-disabled,
.el-pagination.is-background .el-pager li:disabled,
.el-pagination.is-background .el-pager li.is-disabled {
    color: var(--el-text-color-placeholder);
    background-color: var(--el-disabled-bg-color)
}

.el-pagination.is-background .btn-prev:disabled.is-active,
.el-pagination.is-background .btn-prev.is-disabled.is-active,
.el-pagination.is-background .btn-next:disabled.is-active,
.el-pagination.is-background .btn-next.is-disabled.is-active,
.el-pagination.is-background .el-pager li:disabled.is-active,
.el-pagination.is-background .el-pager li.is-disabled.is-active {
    color: var(--el-text-color-secondary);
    background-color: var(--el-fill-color-dark)
}

.el-pagination.is-background .btn-prev {
    margin-left: var(--el-pagination-item-gap)
}

.el-pagination--small .btn-prev,
.el-pagination--small .btn-next,
.el-pagination--small .el-pager li {
    height: var(--el-pagination-button-height-small);
    line-height: var(--el-pagination-button-height-small);
    font-size: var(--el-pagination-font-size-small);
    min-width: var(--el-pagination-button-width-small)
}

.el-pagination--small span:not([class*=suffix]),
.el-pagination--small button {
    font-size: var(--el-pagination-font-size-small)
}

.el-pagination--small .el-select {
    width: 8.2rem;
}

.el-pagination--large .btn-prev,
.el-pagination--large .btn-next,
.el-pagination--large .el-pager li {
    height: var(--el-pagination-button-height-large);
    line-height: var(--el-pagination-button-height-large);
    min-width: var(--el-pagination-button-width-large)
}

.el-pagination--large .el-select .el-input {
    width: 13.2rem;
}

.el-pager {
    -webkit-user-select: none;
    user-select: none;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 0;
    list-style: none;
    display: flex
}

.el-pager li {
    font-size: var(--el-pagination-font-size);
    min-width: var(--el-pagination-button-width);
    height: var(--el-pagination-button-height);
    line-height: var(--el-pagination-button-height);
    color: var(--el-pagination-button-color);
    background: var(--el-pagination-bg-color);
    border-radius: var(--el-pagination-border-radius);
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    border: none;
    justify-content: center;
    align-items: center;
    padding: 0 0.4rem;
    display: flex
}

.el-pager li * {
    pointer-events: none
}

.el-pager li:focus {
    outline: none
}

.el-pager li:hover {
    color: var(--el-pagination-hover-color)
}

.el-pager li.is-active {
    color: var(--el-pagination-hover-color);
    cursor: default;
    font-weight: 700
}

.el-pager li.is-active.is-disabled {
    color: var(--el-text-color-secondary);
    font-weight: 700
}

.el-pager li:disabled,
.el-pager li.is-disabled {
    color: var(--el-pagination-button-disabled-color);
    background-color: var(--el-pagination-button-disabled-bg-color);
    cursor: not-allowed
}

.el-pager li:focus-visible {
    outline: 1px solid var(--el-pagination-hover-color);
    outline-offset: -1px
}

.el-popconfirm {
    outline: none
}

.el-popconfirm__main {
    align-items: center;
    display: flex
}

.el-popconfirm__icon {
    margin-right: 0.5rem
}

.el-popconfirm__action {
    text-align: right;
    margin-top: 0.6rem
}

.el-popover {
    --el-popover-bg-color: var(--el-bg-color-overlay);
    --el-popover-font-size: var(--el-font-size-base);
    --el-popover-border-color: var(--el-border-color-lighter);
    --el-popover-padding: 1rem;
    --el-popover-padding-large: 1.5rem 1.6rem;
    --el-popover-title-font-size: 1.4rem;
    --el-popover-title-text-color: var(--el-text-color-primary);
    --el-popover-border-radius: 0.4rem
}

.el-popover.el-popper {
    background: var(--el-popover-bg-color);
    border-radius: var(--el-popover-border-radius);
    border: 1px solid var(--el-popover-border-color);
    min-width: 12.5rem;
    padding: var(--el-popover-padding);
    z-index: var(--el-index-popper);
    color: var(--el-text-color-regular);
    line-height: 1.4;
    font-size: var(--el-popover-font-size);
    box-shadow: var(--el-box-shadow-light);
    overflow-wrap: break-word;
    box-sizing: border-box
}

.el-popover.el-popper--plain {
    padding: var(--el-popover-padding-large)
}

.el-popover__title {
    color: var(--el-popover-title-text-color);
    font-size: var(--el-popover-title-font-size);
    margin-bottom: 1rem;
    line-height: 1
}

.el-popover__reference:focus:not(.focusing),
.el-popover__reference:focus:hover {
    outline-width: 0
}

.el-popover.el-popper.is-dark {
    --el-popover-bg-color: var(--el-text-color-primary);
    --el-popover-border-color: var(--el-text-color-primary);
    --el-popover-title-text-color: var(--el-bg-color);
    color: var(--el-bg-color)
}

.el-popover.el-popper:focus:active,
.el-popover.el-popper:focus {
    outline-width: 0
}

.el-progress {
    align-items: center;
    line-height: 1;
    display: flex;
    position: relative
}

.el-progress__text {
    color: var(--el-text-color-regular);
    min-width: 4.2rem;
    margin-left: 0.5rem;
    font-size: 1.2rem;
    line-height: 1
}

.el-progress__text i {
    vertical-align: middle;
    display: block
}

.el-progress--circle,
.el-progress--dashboard {
    display: inline-block
}

.el-progress--circle .el-progress__text,
.el-progress--dashboard .el-progress__text {
    text-align: center;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%)
}

.el-progress--circle .el-progress__text i,
.el-progress--dashboard .el-progress__text i {
    vertical-align: middle;
    display: inline-block
}

.el-progress--without-text .el-progress__text {
    display: none
}

.el-progress--without-text .el-progress-bar {
    margin-right: 0;
    padding-right: 0;
    display: block
}

.el-progress--text-inside .el-progress-bar {
    margin-right: 0;
    padding-right: 0
}

.el-progress.is-success .el-progress-bar__inner {
    background-color: var(--el-color-success)
}

.el-progress.is-success .el-progress__text {
    color: var(--el-color-success)
}

.el-progress.is-warning .el-progress-bar__inner {
    background-color: var(--el-color-warning)
}

.el-progress.is-warning .el-progress__text {
    color: var(--el-color-warning)
}

.el-progress.is-exception .el-progress-bar__inner {
    background-color: var(--el-color-danger)
}

.el-progress.is-exception .el-progress__text {
    color: var(--el-color-danger)
}

.el-progress-bar {
    box-sizing: border-box;
    flex-grow: 1
}

.el-progress-bar__outer {
    background-color: var(--el-border-color-lighter);
    vertical-align: middle;
    border-radius: 8.2rem;
    height: 0.5rem;
    position: relative;
    overflow: hidden
}

.el-progress-bar__inner {
    background-color: var(--el-color-primary);
    text-align: right;
    white-space: nowrap;
    border-radius: 8.2rem;
    height: 100%;
    line-height: 1;
    transition: width .6s;
    position: absolute;
    top: 0;
    left: 0
}

.el-progress-bar__inner:after {
    content: "";
    vertical-align: middle;
    height: 100%;
    display: inline-block
}

.el-progress-bar__inner--indeterminate {
    animation: 3s infinite indeterminate;
    transform: translateZ(0)
}

.el-progress-bar__inner--striped {
    background-image: linear-gradient(45deg, #0000001a 25%, #0000 25% 50%, #0000001a 50% 75%, #0000 75%, #0000);
    background-size: 1.25em 1.25em
}

.el-progress-bar__inner--striped.el-progress-bar__inner--striped-flow {
    animation: 3s linear infinite striped-flow
}

.el-progress-bar__innerText {
    vertical-align: middle;
    color: #fff;
    margin: 0 0.5rem;
    font-size: 1rem;
    display: inline-block
}

@keyframes progress {
    0% {
        background-position: 0 0
    }

    to {
        background-position: 2.6rem 0
    }
}

@keyframes indeterminate {
    0% {
        left: -100%
    }

    to {
        left: 100%
    }
}

@keyframes striped-flow {
    0% {
        background-position: -100%
    }

    to {
        background-position: 100%
    }
}

.el-radio-button {
    --el-radio-button-checked-bg-color: var(--el-color-primary);
    --el-radio-button-checked-text-color: var(--el-color-white);
    --el-radio-button-checked-border-color: var(--el-color-primary);
    --el-radio-button-disabled-checked-fill: var(--el-border-color-extra-light);
    outline: none;
    display: inline-block;
    position: relative
}

.el-radio-button__inner {
    white-space: nowrap;
    vertical-align: middle;
    background: var(--el-button-bg-color, var(--el-fill-color-blank));
    outline: var(--el-border);
    line-height: 1;
    font-weight: var(--el-button-font-weight, var(--el-font-weight-primary));
    color: var(--el-button-text-color, var(--el-text-color-regular));
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    transition: var(--el-transition-all);
    -webkit-user-select: none;
    user-select: none;
    font-size: var(--el-font-size-base);
    border-radius: 0;
    margin: 0;
    padding: 0.6rem 1.3rem;
    display: inline-block;
    position: relative
}

.el-radio-button__inner.is-round {
    padding: 0.6rem 1.3rem
}

.el-radio-button__inner:hover {
    color: var(--el-color-primary)
}

.el-radio-button__inner [class*=el-icon-] {
    line-height: .9
}

.el-radio-button__inner [class*=el-icon-]+span {
    margin-left: 0.5rem
}

.el-radio-button:first-child .el-radio-button__inner {
    border-radius: var(--el-border-radius-base) 0 0 var(--el-border-radius-base);
    box-shadow: none !important
}

.el-radio-button.is-active .el-radio-button__original-radio:not(:disabled)+.el-radio-button__inner {
    color: var(--el-radio-button-checked-text-color, var(--el-color-white));
    background-color: var(--el-radio-button-checked-bg-color, var(--el-color-primary));
    border-color: var(--el-radio-button-checked-border-color, var(--el-color-primary));
    box-shadow: -1px 0 0 0 var(--el-radio-button-checked-border-color, var(--el-color-primary))
}

.el-radio-button__original-radio {
    opacity: 0;
    z-index: -1;
    outline: none;
    position: absolute
}

.el-radio-button__original-radio:focus-visible+.el-radio-button__inner {
    border-left: var(--el-border);
    border-left-color: var(--el-radio-button-checked-border-color, var(--el-color-primary));
    outline: 2px solid var(--el-radio-button-checked-border-color);
    outline-offset: 1px;
    z-index: 2;
    border-radius: var(--el-border-radius-base);
    box-shadow: none
}

.el-radio-button__original-radio:disabled+.el-radio-button__inner {
    color: var(--el-disabled-text-color);
    cursor: not-allowed;
    background-image: none;
    background-color: var(--el-button-disabled-bg-color, var(--el-fill-color-blank));
    border-color: var(--el-button-disabled-border-color, var(--el-border-color-light));
    box-shadow: none
}

.el-radio-button__original-radio:disabled:checked+.el-radio-button__inner {
    background-color: var(--el-radio-button-disabled-checked-fill)
}

.el-radio-button:last-child .el-radio-button__inner {
    border-radius: 0 var(--el-border-radius-base) var(--el-border-radius-base) 0
}

.el-radio-button:first-child:last-child .el-radio-button__inner {
    border-radius: var(--el-border-radius-base)
}

.el-radio-button--large .el-radio-button__inner {
    font-size: var(--el-font-size-base);
    border-radius: 0;
    padding: 1rem 1.6rem
}

.el-radio-button--large .el-radio-button__inner.is-round {
    padding: 1rem 1.6rem
}

.el-radio-button--small .el-radio-button__inner {
    border-radius: 0;
    padding: 0.5rem 1rem;
    font-size: 1rem
}

.el-radio-button--small .el-radio-button__inner.is-round {
    padding: 0.5rem 1rem;
}

.el-radio-group {
    flex-wrap: wrap;
    align-items: center;
    font-size: 0;
    display: inline-flex
}

.el-radio {
    --el-radio-font-size: var(--el-font-size-base);
    --el-radio-text-color: var(--el-text-color-regular);
    --el-radio-font-weight: var(--el-font-weight-primary);
    --el-radio-input-height: 1.2rem;
    --el-radio-input-width: 1.2rem;
    --el-radio-input-border-radius: var(--el-border-radius-circle);
    --el-radio-input-bg-color: var(--el-fill-color-blank);
    --el-radio-input-border: var(--el-border);
    --el-radio-input-border-color: var(--el-border-color);
    --el-radio-input-border-color-hover: var(--el-color-primary);
    color: var(--el-radio-text-color);
    font-weight: var(--el-radio-font-weight);
    cursor: pointer;
    white-space: nowrap;
    font-size: var(--el-font-size-base);
    -webkit-user-select: none;
    user-select: none;
    outline: none;
    align-items: center;
    height: 2.6rem;
    margin-right: 2.5rem;
    display: inline-flex;
    position: relative
}

.el-radio.el-radio--large {
    height: 3.4rem
}

.el-radio.el-radio--small {
    height: 2rem
}

.el-radio.is-bordered {
    border-radius: var(--el-border-radius-base);
    border: var(--el-border);
    box-sizing: border-box;
    padding: 0 1.3rem 0 0.8rem;
}

.el-radio.is-bordered.is-checked {
    border-color: var(--el-color-primary)
}

.el-radio.is-bordered.is-disabled {
    cursor: not-allowed;
    border-color: var(--el-border-color-lighter)
}

.el-radio.is-bordered.el-radio--large {
    border-radius: var(--el-border-radius-base);
    padding: 0 1.6rem 0 1rem;   
}

.el-radio.is-bordered.el-radio--large .el-radio__label {
    font-size: var(--el-font-size-base)
}

.el-radio.is-bordered.el-radio--large .el-radio__inner {
    width: 1.2rem;
    height: 1.2rem
}

.el-radio.is-bordered.el-radio--small {
    border-radius: var(--el-border-radius-base);
    padding: 0 1rem 0 0.6rem;
}

.el-radio.is-bordered.el-radio--small .el-radio__label {
    font-size: 1rem
}

.el-radio.is-bordered.el-radio--small .el-radio__inner {
    width: 1rem;
    height: 1rem
}

.el-radio:last-child {
    margin-right: 0
}

.el-radio__input {
    white-space: nowrap;
    cursor: pointer;
    vertical-align: middle;
    outline: none;
    display: inline-flex;
    position: relative
}

.el-radio__input.is-disabled .el-radio__inner {
    background-color: var(--el-disabled-bg-color);
    border-color: var(--el-disabled-border-color);
    cursor: not-allowed
}

.el-radio__input.is-disabled .el-radio__inner:after {
    cursor: not-allowed;
    background-color: var(--el-disabled-bg-color)
}

.el-radio__input.is-disabled .el-radio__inner+.el-radio__label {
    cursor: not-allowed
}

.el-radio__input.is-disabled.is-checked .el-radio__inner {
    background-color: var(--el-disabled-bg-color);
    border-color: var(--el-disabled-border-color)
}

.el-radio__input.is-disabled.is-checked .el-radio__inner:after {
    background-color: var(--el-text-color-placeholder)
}

.el-radio__input.is-disabled+span.el-radio__label {
    color: var(--el-text-color-placeholder);
    cursor: not-allowed
}

.el-radio__input.is-checked .el-radio__inner {
    border-color: var(--el-color-primary);
    background: var(--el-color-primary)
}

.el-radio__input.is-checked .el-radio__inner:after {
    background-color: var(--el-color-white);
    transform: translate(-50%, -50%)scale(1)
}

.el-radio__input.is-checked+.el-radio__label {
    color: var(--el-color-primary)
}

.el-radio__input.is-focus .el-radio__inner {
    border-color: var(--el-radio-input-border-color-hover)
}

.el-radio__inner {
    border: var(--el-radio-input-border);
    border-radius: var(--el-radio-input-border-radius);
    width: var(--el-radio-input-width);
    height: var(--el-radio-input-height);
    background-color: var(--el-radio-input-bg-color);
    cursor: pointer;
    box-sizing: border-box;
    transition: all .3s;
    display: inline-block;
    position: relative
}

.el-radio__inner:hover {
    border-color: var(--el-radio-input-border-color-hover)
}

.el-radio__inner:after {
    border-radius: var(--el-radio-input-border-radius);
    content: "";
    width: 0.4rem;
    height: 0.4rem;
    transition: transform .15s ease-in;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)scale(0)
}

.el-radio__original {
    opacity: 0;
    z-index: -1;
    outline: none;
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.el-radio__original:focus-visible+.el-radio__inner {
    outline: 2px solid var(--el-radio-input-border-color-hover);
    outline-offset: 1px;
    border-radius: var(--el-radio-input-border-radius)
}

.el-radio:focus:not(:focus-visible):not(.is-focus):not(:active):not(.is-disabled) .el-radio__inner {
    box-shadow: 0 0 2px 2px var(--el-radio-input-border-color-hover)
}

.el-radio__label {
    font-size: var(--el-radio-font-size);
    padding-left: 0.6rem
}

.el-radio.el-radio--large .el-radio__label {
    font-size: 1.2rem
}

.el-radio.el-radio--large .el-radio__inner {
    width: 1.2rem;
    height: 1.2rem
}

.el-radio.el-radio--small .el-radio__label {
    font-size: 1rem
}

.el-radio.el-radio--small .el-radio__inner {
    width: 1rem;
    height: 1rem
}

.el-rate {
    --el-rate-height: 1.6rem;
    --el-rate-font-size: var(--el-font-size-base);
    --el-rate-icon-size: 1.5rem;
    --el-rate-icon-margin: 0.5rem;
    --el-rate-void-color: var(--el-border-color-darker);
    --el-rate-fill-color: #f7ba2a;
    --el-rate-disabled-void-color: var(--el-fill-color);
    --el-rate-text-color: var(--el-text-color-primary);
    --el-rate-outline-color: var(--el-color-primary-light-5);
    align-items: center;
    height: 2.6rem;
    display: inline-flex
}

.el-rate:focus,
.el-rate:active {
    outline: none
}

.el-rate:focus-visible .el-rate__item .el-rate__icon.is-focus-visible {
    outline: 2px solid var(--el-rate-outline-color);
    transition: outline-offset, outline
}

.el-rate__item {
    cursor: pointer;
    vertical-align: middle;
    color: var(--el-rate-void-color);
    font-size: 0;
    line-height: normal;
    display: inline-block;
    position: relative
}

.el-rate .el-rate__icon {
    font-size: var(--el-rate-icon-size);
    margin-right: var(--el-rate-icon-margin);
    transition: var(--el-transition-duration);
    display: inline-block;
    position: relative
}

.el-rate .el-rate__icon.hover {
    transform: scale(1.15)
}

.el-rate .el-rate__icon .path2 {
    position: absolute;
    top: 0;
    left: 0
}

.el-rate .el-rate__icon.is-active {
    color: var(--el-rate-fill-color)
}

.el-rate__decimal {
    color: var(--el-rate-fill-color);
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden
}

.el-rate__decimal--box {
    position: absolute;
    top: 0;
    left: 0
}

.el-rate__text {
    font-size: var(--el-rate-font-size);
    vertical-align: middle;
    color: var(--el-rate-text-color)
}

.el-rate--large {
    height: 3.4rem
}

.el-rate--small {
    height: 2rem
}

.el-rate--small .el-rate__icon {
    font-size: 1.2rem
}

.el-rate.is-disabled .el-rate__item {
    cursor: not-allowed;
    color: var(--el-rate-disabled-void-color)
}

.el-result {
    --el-result-padding: 3.4rem 2.5rem;
    --el-result-icon-font-size: 5.2rem;
    --el-result-title-font-size: 1.6rem;
    --el-result-title-margin-top: 1.6rem;
    --el-result-subtitle-margin-top: 0.8rem;
    --el-result-extra-margin-top: 2.5rem;
    text-align: center;
    box-sizing: border-box;
    padding: var(--el-result-padding);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex
}

.el-result__icon svg {
    width: var(--el-result-icon-font-size);
    height: var(--el-result-icon-font-size)
}

.el-result__title {
    margin-top: var(--el-result-title-margin-top)
}

.el-result__title p {
    font-size: var(--el-result-title-font-size);
    color: var(--el-text-color-primary);
    margin: 0;
    line-height: 1.3
}

.el-result__subtitle {
    margin-top: var(--el-result-subtitle-margin-top)
}

.el-result__subtitle p {
    font-size: var(--el-font-size-base);
    color: var(--el-text-color-regular);
    margin: 0;
    line-height: 1.3
}

.el-result__extra {
    margin-top: var(--el-result-extra-margin-top)
}

.el-result .icon-primary {
    --el-result-color: var(--el-color-primary);
    color: var(--el-result-color)
}

.el-result .icon-success {
    --el-result-color: var(--el-color-success);
    color: var(--el-result-color)
}

.el-result .icon-warning {
    --el-result-color: var(--el-color-warning);
    color: var(--el-result-color)
}

.el-result .icon-danger {
    --el-result-color: var(--el-color-danger);
    color: var(--el-result-color)
}

.el-result .icon-error {
    --el-result-color: var(--el-color-error);
    color: var(--el-result-color)
}

.el-result .icon-info {
    --el-result-color: var(--el-color-info);
    color: var(--el-result-color)
}

.el-row {
    box-sizing: border-box;
    flex-wrap: wrap;
    display: flex;
    position: relative
}

.el-row.is-justify-center {
    justify-content: center
}

.el-row.is-justify-end {
    justify-content: flex-end
}

.el-row.is-justify-space-between {
    justify-content: space-between
}

.el-row.is-justify-space-around {
    justify-content: space-around
}

.el-row.is-justify-space-evenly {
    justify-content: space-evenly
}

.el-row.is-align-top {
    align-items: flex-start
}

.el-row.is-align-middle {
    align-items: center
}

.el-row.is-align-bottom {
    align-items: flex-end
}

.el-scrollbar {
    --el-scrollbar-opacity: .3;
    --el-scrollbar-bg-color: var(--el-text-color-secondary);
    --el-scrollbar-hover-opacity: .5;
    --el-scrollbar-hover-bg-color: var(--el-text-color-secondary);
    height: 100%;
    position: relative;
    overflow: hidden
}

.el-scrollbar__wrap {
    height: 100%;
    overflow: auto
}

.el-scrollbar__wrap--hidden-default {
    scrollbar-width: none
}

.el-scrollbar__wrap--hidden-default::-webkit-scrollbar {
    display: none
}

.el-scrollbar__thumb {
    cursor: pointer;
    border-radius: inherit;
    background-color: var(--el-scrollbar-bg-color, var(--el-text-color-secondary));
    width: 0;
    height: 0;
    transition: var(--el-transition-duration) background-color;
    opacity: var(--el-scrollbar-opacity, .3);
    display: block;
    position: relative
}

.el-scrollbar__thumb:hover {
    background-color: var(--el-scrollbar-hover-bg-color, var(--el-text-color-secondary));
    opacity: var(--el-scrollbar-hover-opacity, .5)
}

.el-scrollbar__bar {
    z-index: 1;
    border-radius: 0.4rem;
    position: absolute;
    bottom: 2px;
    right: 2px
}

.el-scrollbar__bar.is-vertical {
    width: 0.5rem;
    top: 0.2rem;
}

.el-scrollbar__bar.is-vertical>div {
    width: 100%
}

.el-scrollbar__bar.is-horizontal {
    height: 0.5rem;
    left: 0.2rem;
}

.el-scrollbar__bar.is-horizontal>div {
    height: 100%
}

.el-scrollbar-fade-enter-active {
    transition: opacity .34s ease-out
}

.el-scrollbar-fade-leave-active {
    transition: opacity .12s ease-out
}

.el-scrollbar-fade-enter-from,
.el-scrollbar-fade-leave-active {
    opacity: 0
}

.el-select-dropdown {
    z-index: calc(var(--el-index-top) + 1);
    border-radius: var(--el-border-radius-base);
    box-sizing: border-box
}

.el-select-dropdown .el-scrollbar.is-empty .el-select-dropdown__list {
    padding: 0
}

.el-select-dropdown__loading,
.el-select-dropdown__empty {
    text-align: center;
    color: var(--el-text-color-secondary);
    font-size: var(--el-select-font-size);
    margin: 0;
    padding: 0.8rem 0
}

.el-select-dropdown__wrap {
    max-height: 22rem;
}

.el-select-dropdown__list {
    box-sizing: border-box;
    margin: 0;
    padding: 0.5rem 0;
    list-style: none
}

.el-select-dropdown__list.el-vl__window {
    margin: 0.5rem 0;
    padding: 0
}

.el-select-dropdown__header {
    border-bottom: 1px solid var(--el-border-color-light);
    padding: 0.8rem
}

.el-select-dropdown__footer {
    border-top: 1px solid var(--el-border-color-light);
    padding: 0.8rem
}

.el-select-dropdown__item {
    font-size: var(--el-font-size-base);
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--el-text-color-regular);
    box-sizing: border-box;
    cursor: pointer;
    height: 2.8rem;
    padding: 0 2.6rem 0 1.6rem;
    line-height: 2.8rem;
    position: relative;
    overflow: hidden
}

.el-select-dropdown__item.is-hovering {
    background-color: var(--el-fill-color-light)
}

.el-select-dropdown__item.is-selected {
    color: var(--el-color-primary);
    font-weight: 700
}

.el-select-dropdown__item.is-disabled {
    color: var(--el-text-color-placeholder);
    cursor: not-allowed;
    background-color: unset
}

.el-select-dropdown.is-multiple .el-select-dropdown__item.is-selected:after {
    content: "";
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: var(--el-color-primary);
    -webkit-mask: url("data:image/svg+xml;utf8,%3Csvg class='icon' width='200' height='200' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='currentColor' d='M406.656 706.944L195.84 496.256a32 32 0 10-45.248 45.248l256 256 512-512a32 32 0 00-45.248-45.248L406.592 706.944z'%3E%3C/path%3E%3C/svg%3E") 0 0/100% 100% no-repeat;
    mask: url("data:image/svg+xml;utf8,%3Csvg class='icon' width='200' height='200' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='currentColor' d='M406.656 706.944L195.84 496.256a32 32 0 10-45.248 45.248l256 256 512-512a32 32 0 00-45.248-45.248L406.592 706.944z'%3E%3C/path%3E%3C/svg%3E") 0 0/100% 100% no-repeat;
    border-top: none;
    border-right: none;
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 50%;
    right: 1.6rem;
    transform: translateY(-50%);
    -webkit-mask: url("data:image/svg+xml;utf8,%3Csvg class='icon' width='200' height='200' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='currentColor' d='M406.656 706.944L195.84 496.256a32 32 0 10-45.248 45.248l256 256 512-512a32 32 0 00-45.248-45.248L406.592 706.944z'%3E%3C/path%3E%3C/svg%3E") 0 0/100% 100% no-repeat
}

.el-select-dropdown.is-multiple .el-select-dropdown__item.is-disabled:after {
    background-color: var(--el-text-color-placeholder)
}

.el-select-group {
    margin: 0;
    padding: 0
}

.el-select-group__wrap {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative
}

.el-select-group__title {
    box-sizing: border-box;
    color: var(--el-color-info);
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 1.6rem;
    font-size: 1rem;
    line-height: 2.8rem;
    overflow: hidden
}

.el-select-group .el-select-dropdown__item {
    padding-left: 1.6rem
}

.el-select {
    --el-select-border-color-hover: var(--el-border-color-hover);
    --el-select-disabled-color: var(--el-disabled-text-color);
    --el-select-disabled-border: var(--el-disabled-border-color);
    --el-select-font-size: var(--el-font-size-base);
    --el-select-close-hover-color: var(--el-text-color-secondary);
    --el-select-input-color: var(--el-text-color-placeholder);
    --el-select-multiple-input-color: var(--el-text-color-regular);
    --el-select-input-focus-border-color: var(--el-color-primary);
    --el-select-input-font-size: 1.2rem;
    --el-select-width: 100%;
    vertical-align: middle;
    width: var(--el-select-width);
    display: inline-block;
    position: relative
}

.el-select__wrapper {
    box-sizing: border-box;
    cursor: pointer;
    text-align: left;
    border-radius: var(--el-border-radius-base);
    background-color: var(--el-fill-color-blank);
    min-height: 2.6rem;
    transition: var(--el-transition-duration);
    box-shadow: 0 0 0 1px var(--el-border-color) inset;
    align-items: center;
    gap: 0.5rem;
    padding: 0.4rem 1rem;
    font-size: 1.2rem;
    line-height: 2rem;
    display: flex;
    position: relative;
    transform: translate(0, 0)
}

.el-select__wrapper.is-filterable {
    cursor: text
}

.el-select__wrapper.is-focused {
    box-shadow: 0 0 0 1px var(--el-color-primary) inset
}

.el-select__wrapper.is-hovering:not(.is-focused) {
    box-shadow: 0 0 0 1px var(--el-border-color-hover) inset
}

.el-select__wrapper.is-disabled {
    cursor: not-allowed;
    background-color: var(--el-fill-color-light);
    color: var(--el-text-color-placeholder);
    box-shadow: 0 0 0 1px var(--el-select-disabled-border) inset
}

.el-select__wrapper.is-disabled:hover {
    box-shadow: 0 0 0 1px var(--el-select-disabled-border) inset
}

.el-select__wrapper.is-disabled.is-focus {
    box-shadow: 0 0 0 1px var(--el-input-focus-border-color) inset
}

.el-select__wrapper.is-disabled .el-select__selected-item {
    color: var(--el-select-disabled-color)
}

.el-select__wrapper.is-disabled .el-select__caret,
.el-select__wrapper.is-disabled .el-tag,
.el-select__wrapper.is-disabled input {
    cursor: not-allowed
}

.el-select__wrapper.is-disabled .el-select__prefix,
.el-select__wrapper.is-disabled .el-select__suffix {
    pointer-events: none
}

.el-select__prefix,
.el-select__suffix {
    color: var(--el-input-icon-color, var(--el-text-color-placeholder));
    flex-shrink: 0;
    align-items: center;
    gap: 0.5rem;
    display: flex
}

.el-select__caret {
    color: var(--el-select-input-color);
    font-size: var(--el-select-input-font-size);
    transition: var(--el-transition-duration);
    cursor: pointer;
    transform: rotate(0)
}

.el-select__caret.is-reverse {
    transform: rotate(180deg)
}

.el-select__clear {
    cursor: pointer
}

.el-select__clear:hover {
    color: var(--el-select-close-hover-color)
}

.el-select__selection {
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    gap: 0.5rem;
    min-width: 0;
    display: flex;
    position: relative
}

.el-select__selection.is-near {
    margin-left: -0.6rem
}

.el-select__selection .el-tag {
    cursor: pointer;
    border-color: #0000
}

.el-select__selection .el-tag.el-tag--plain {
    border-color: var(--el-tag-border-color)
}

.el-select__selection .el-tag .el-tag__content {
    min-width: 0
}

.el-select__selected-item {
    -webkit-user-select: none;
    user-select: none;
    flex-wrap: wrap;
    display: flex
}

.el-select__tags-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: normal;
    display: block;
    overflow: hidden
}

.el-select__placeholder {
    z-index: -1;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    color: var(--el-input-text-color, var(--el-text-color-regular));
    display: block;
    position: absolute;
    top: 50%;
    overflow: hidden;
    transform: translateY(-50%)
}

.el-select__placeholder.is-transparent {
    -webkit-user-select: none;
    user-select: none;
    color: var(--el-text-color-placeholder)
}

.el-select__popper.el-popper {
    background: var(--el-bg-color-overlay);
    border: 1px solid var(--el-border-color-light);
    box-shadow: var(--el-box-shadow-light)
}

.el-select__popper.el-popper .el-popper__arrow:before {
    border: 1px solid var(--el-border-color-light)
}

.el-select__popper.el-popper[data-popper-placement^=top] .el-popper__arrow:before {
    border-top-color: #0000;
    border-left-color: #0000
}

.el-select__popper.el-popper[data-popper-placement^=bottom] .el-popper__arrow:before {
    border-bottom-color: #0000;
    border-right-color: #0000
}

.el-select__popper.el-popper[data-popper-placement^=left] .el-popper__arrow:before {
    border-bottom-color: #0000;
    border-left-color: #0000
}

.el-select__popper.el-popper[data-popper-placement^=right] .el-popper__arrow:before {
    border-top-color: #0000;
    border-right-color: #0000
}

.el-select__input-wrapper {
    flex: 1
}

.el-select__input-wrapper.is-hidden {
    opacity: 0;
    z-index: -1;
    position: absolute
}

.el-select__input {
    color: var(--el-select-multiple-input-color);
    font-size: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #0000;
    border: none;
    outline: none;
    width: 100%;
    height: 2rem;
    padding: 0;
    font-family: inherit
}

.el-select__input-calculator {
    visibility: hidden;
    white-space: pre;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden
}

.el-select--large .el-select__wrapper {
    gap: 0.5rem;
    min-height: 3.4rem;
    padding: 0.6rem 1.4rem;
    font-size: 1.2rem;
    line-height: 2rem
}

.el-select--large .el-select__selection {
    gap: 0.5rem
}

.el-select--large .el-select__selection.is-near {
    margin-left: -0.6rem
}

.el-select--large .el-select__prefix,
.el-select--large .el-select__suffix {
    gap: 0.5rem
}

.el-select--large .el-select__input {
    height: 2rem
}

.el-select--small .el-select__wrapper {
    gap: 0.4rem;
    min-height: 2rem;
    padding: 0.2rem 0.6rem;
    font-size: 1rem;
    line-height: 1.6rem
}

.el-select--small .el-select__selection {
    gap: 0.4rem
}

.el-select--small .el-select__selection.is-near {
    margin-left: -0.5rem
}

.el-select--small .el-select__prefix,
.el-select--small .el-select__suffix {
    gap: 0.4rem
}

.el-select--small .el-select__input {
    height: 1.6rem
}

.el-skeleton {
    --el-skeleton-circle-size: var(--el-avatar-size)
}

.el-skeleton__item {
    background: var(--el-skeleton-color);
    border-radius: var(--el-border-radius-base);
    width: 100%;
    height: 1.4rem;
    display: inline-block
}

.el-skeleton__circle {
    width: var(--el-skeleton-circle-size);
    height: var(--el-skeleton-circle-size);
    line-height: var(--el-skeleton-circle-size);
    border-radius: 50%
}

.el-skeleton__button {
    border-radius: 0.4rem;
    width: 5.2rem;
    height: 3.4rem
}

.el-skeleton__p {
    width: 100%
}

.el-skeleton__p.is-last {
    width: 61%
}

.el-skeleton__p.is-first {
    width: 33%
}

.el-skeleton__text {
    width: 100%;
    height: var(--el-font-size-small)
}

.el-skeleton__caption {
    height: var(--el-font-size-extra-small)
}

.el-skeleton__h1 {
    height: var(--el-font-size-extra-large)
}

.el-skeleton__h3 {
    height: var(--el-font-size-large)
}

.el-skeleton__h5 {
    height: var(--el-font-size-medium)
}

.el-skeleton__image {
    width: unset;
    border-radius: 0;
    justify-content: center;
    align-items: center;
    display: flex
}

.el-skeleton__image svg {
    color: var(--el-svg-monochrome-grey);
    fill: currentColor;
    width: 22%;
    height: 22%
}

.el-skeleton {
    --el-skeleton-color: var(--el-fill-color);
    --el-skeleton-to-color: var(--el-fill-color-darker)
}

@keyframes el-skeleton-loading {
    0% {
        background-position: 100%
    }

    to {
        background-position: 0
    }
}

.el-skeleton {
    width: 100%
}

.el-skeleton__first-line,
.el-skeleton__paragraph {
    background: var(--el-skeleton-color);
    height: 1.4rem;
    margin-top: 1.4rem
}

.el-skeleton.is-animated .el-skeleton__item {
    background: linear-gradient(90deg, var(--el-skeleton-color) 25%, var(--el-skeleton-to-color) 37%, var(--el-skeleton-color) 63%);
    background-size: 400% 100%;
    animation: 1.4s infinite el-skeleton-loading
}

.el-slider {
    --el-slider-main-bg-color: var(--el-color-primary);
    --el-slider-runway-bg-color: var(--el-border-color-light);
    --el-slider-stop-bg-color: var(--el-color-white);
    --el-slider-disabled-color: var(--el-text-color-placeholder);
    --el-slider-border-radius: 0.2rem;
    --el-slider-height: 0.5rem;
    --el-slider-button-size: 1.6rem;
    --el-slider-button-wrapper-size: 3rem;
    --el-slider-button-wrapper-offset: -1.3rem;
    align-items: center;
    width: 100%;
    height: 2.6rem;
    display: flex
}

.el-slider__runway {
    height: var(--el-slider-height);
    background-color: var(--el-slider-runway-bg-color);
    border-radius: var(--el-slider-border-radius);
    cursor: pointer;
    flex: 1;
    position: relative
}

.el-slider__runway.show-input {
    width: auto;
    margin-right: 2.5rem
}

.el-slider__runway.is-disabled {
    cursor: default
}

.el-slider__runway.is-disabled .el-slider__bar {
    background-color: var(--el-slider-disabled-color)
}

.el-slider__runway.is-disabled .el-slider__button {
    border-color: var(--el-slider-disabled-color)
}

.el-slider__runway.is-disabled .el-slider__button-wrapper:hover,
.el-slider__runway.is-disabled .el-slider__button-wrapper.hover,
.el-slider__runway.is-disabled .el-slider__button-wrapper.dragging {
    cursor: not-allowed
}

.el-slider__runway.is-disabled .el-slider__button:hover,
.el-slider__runway.is-disabled .el-slider__button.hover,
.el-slider__runway.is-disabled .el-slider__button.dragging {
    cursor: not-allowed;
    transform: scale(1)
}

.el-slider__input {
    flex-shrink: 0;
    width: 10.8rem;
}

.el-slider__bar {
    height: var(--el-slider-height);
    background-color: var(--el-slider-main-bg-color);
    border-top-left-radius: var(--el-slider-border-radius);
    border-bottom-left-radius: var(--el-slider-border-radius);
    position: absolute
}

.el-slider__button-wrapper {
    height: var(--el-slider-button-wrapper-size);
    width: var(--el-slider-button-wrapper-size);
    z-index: 1;
    top: var(--el-slider-button-wrapper-offset);
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    background-color: #0000;
    outline: none;
    line-height: normal;
    position: absolute;
    transform: translate(-50%)
}

.el-slider__button-wrapper:after {
    content: "";
    vertical-align: middle;
    height: 100%;
    display: inline-block
}

.el-slider__button-wrapper:hover,
.el-slider__button-wrapper.hover {
    cursor: grab
}

.el-slider__button-wrapper.dragging {
    cursor: grabbing
}

.el-slider__button {
    width: var(--el-slider-button-size);
    height: var(--el-slider-button-size);
    vertical-align: middle;
    border: solid 2px var(--el-slider-main-bg-color);
    background-color: var(--el-color-white);
    box-sizing: border-box;
    transition: var(--el-transition-duration-fast);
    -webkit-user-select: none;
    user-select: none;
    border-radius: 50%;
    display: inline-block
}

.el-slider__button:hover,
.el-slider__button.hover,
.el-slider__button.dragging {
    transform: scale(1.2)
}

.el-slider__button:hover,
.el-slider__button.hover {
    cursor: grab
}

.el-slider__button.dragging {
    cursor: grabbing
}

.el-slider__stop {
    height: var(--el-slider-height);
    width: var(--el-slider-height);
    border-radius: var(--el-border-radius-circle);
    background-color: var(--el-slider-stop-bg-color);
    position: absolute;
    transform: translate(-50%)
}

.el-slider__marks {
    width: 1.5rem;
    height: 100%;
    top: 0;
    left: 1rem
}

.el-slider__marks-text {
    color: var(--el-color-info);
    white-space: pre;
    margin-top: 1.3rem;
    font-size: 1.2rem;
    position: absolute;
    transform: translate(-50%)
}

.el-slider.is-vertical {
    flex: 0;
    width: auto;
    height: 100%;
    display: inline-flex;
    position: relative
}

.el-slider.is-vertical .el-slider__runway {
    width: var(--el-slider-height);
    height: 100%;
    margin: 0 1.4rem
}

.el-slider.is-vertical .el-slider__bar {
    width: var(--el-slider-height);
    border-radius: 0 0 3px 3px;
    height: auto
}

.el-slider.is-vertical .el-slider__button-wrapper {
    top: auto;
    left: var(--el-slider-button-wrapper-offset);
    transform: translateY(50%)
}

.el-slider.is-vertical .el-slider__stop {
    transform: translateY(50%)
}

.el-slider.is-vertical .el-slider__marks-text {
    margin-top: 0;
    left: 1.3rem;
    transform: translateY(50%)
}

.el-slider--large {
    height: 3.4rem
}

.el-slider--small {
    height: 2rem
}

.el-space {
    vertical-align: top;
    display: inline-flex
}

.el-space__item {
    flex-wrap: wrap;
    display: flex
}

.el-space__item>* {
    flex: 1
}

.el-space--vertical {
    flex-direction: column
}

.el-time-spinner {
    white-space: nowrap;
    width: 100%
}

.el-spinner {
    vertical-align: middle;
    display: inline-block
}

.el-spinner-inner {
    width: 4.2rem;
    height: 4.2rem;
    animation: 2s linear infinite rotate
}

.el-spinner-inner .path {
    stroke: var(--el-border-color-lighter);
    stroke-linecap: round;
    animation: 1.5s ease-in-out infinite dash
}

@keyframes rotate {
    to {
        transform: rotate(360deg)
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1 150;
        stroke-dashoffset: 0
    }

    50% {
        stroke-dasharray: 90 150;
        stroke-dashoffset: -3rem;
    }

    to {
        stroke-dasharray: 90 150;
        stroke-dashoffset: -10rem
    }
}

.el-step {
    flex-shrink: 1;
    position: relative
}

.el-step:last-of-type .el-step__line {
    display: none
}

.el-step:last-of-type.is-flex {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto !important
}

.el-step:last-of-type .el-step__main,
.el-step:last-of-type .el-step__description {
    padding-right: 0
}

.el-step__head {
    width: 100%;
    position: relative
}

.el-step__head.is-process {
    color: var(--el-text-color-primary);
    border-color: var(--el-text-color-primary)
}

.el-step__head.is-wait {
    color: var(--el-text-color-placeholder);
    border-color: var(--el-text-color-placeholder)
}

.el-step__head.is-success {
    color: var(--el-color-success);
    border-color: var(--el-color-success)
}

.el-step__head.is-error {
    color: var(--el-color-danger);
    border-color: var(--el-color-danger)
}

.el-step__head.is-finish {
    color: var(--el-color-primary);
    border-color: var(--el-color-primary)
}

.el-step__icon {
    z-index: 1;
    box-sizing: border-box;
    background: var(--el-bg-color);
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
    transition: all .15s ease-out;
    display: inline-flex;
    position: relative
}

.el-step__icon.is-text {
    border: 2px solid;
    border-radius: 50%
}

.el-step__icon.is-icon {
    width: 3.4rem
}

.el-step__icon-inner {
    -webkit-user-select: none;
    user-select: none;
    text-align: center;
    color: inherit;
    font-weight: 700;
    line-height: 1;
    display: inline-block
}

.el-step__icon-inner[class*=el-icon]:not(.is-status) {
    font-size: 2rem;
    font-weight: 400
}

.el-step__icon-inner.is-status {
    transform: translateY(1px)
}

.el-step__line {
    background-color: var(--el-text-color-placeholder);
    border-color: currentColor;
    position: absolute
}

.el-step__line-inner {
    box-sizing: border-box;
    border: 1px solid;
    width: 0;
    height: 0;
    transition: all .15s ease-out;
    display: block
}

.el-step__main {
    white-space: normal;
    text-align: left
}

.el-step__title {
    font-size: 1.4rem;
    line-height: 3.2rem;
}

.el-step__title.is-process {
    color: var(--el-text-color-primary);
    font-weight: 700
}

.el-step__title.is-wait {
    color: var(--el-text-color-placeholder)
}

.el-step__title.is-success {
    color: var(--el-color-success)
}

.el-step__title.is-error {
    color: var(--el-color-danger)
}

.el-step__title.is-finish {
    color: var(--el-color-primary)
}

.el-step__description {
    margin-top: -0.5rem;
    padding-right: 10%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem
}

.el-step__description.is-process {
    color: var(--el-text-color-primary)
}

.el-step__description.is-wait {
    color: var(--el-text-color-placeholder)
}

.el-step__description.is-success {
    color: var(--el-color-success)
}

.el-step__description.is-error {
    color: var(--el-color-danger)
}

.el-step__description.is-finish {
    color: var(--el-color-primary)
}

.el-step.is-horizontal {
    display: inline-block
}

.el-step.is-horizontal .el-step__line {
    height: 0.2rem;
    top: 1rem;
    left: 0;
    right: 0
}

.el-step.is-vertical {
    display: flex
}

.el-step.is-vertical .el-step__head {
    flex-grow: 0;
    width: 2rem
}

.el-step.is-vertical .el-step__main {
    flex-grow: 1;
    padding-left: 0.8rem
}

.el-step.is-vertical .el-step__title {
    padding-bottom: 0.6rem;
    line-height: 2rem
}

.el-step.is-vertical .el-step__line {
    width: 0.2rem;
    top: 0;
    bottom: 0;
    left: 1rem;
}

.el-step.is-vertical .el-step__icon.is-icon {
    width: 2rem
}

.el-step.is-vertical .el-step__description {
    padding-right: 0
}

.el-step.is-center .el-step__head,
.el-step.is-center .el-step__main {
    text-align: center
}

.el-step.is-center .el-step__description {
    padding-left: 20%;
    padding-right: 20%
}

.el-step.is-center .el-step__line {
    left: 50%;
    right: -50%
}

.el-step.is-simple {
    align-items: center;
    display: flex
}

.el-step.is-simple .el-step__head {
    width: auto;
    padding-right: 0.8rem;
    font-size: 0
}

.el-step.is-simple .el-step__icon {
    background: 0 0;
    width: 1.4rem;
    height: 1.4rem;
    font-size: 1rem
}

.el-step.is-simple .el-step__icon-inner[class*=el-icon]:not(.is-status) {
    font-size: 1.5rem
}

.el-step.is-simple .el-step__icon-inner.is-status {
    transform: scale(.8)translateY(1px)
}

.el-step.is-simple .el-step__main {
    flex-grow: 1;
    align-items: stretch;
    display: flex;
    position: relative
}

.el-step.is-simple .el-step__title {
    font-size: 1.4rem;
    line-height: 1.6rem
}

.el-step.is-simple:not(:last-of-type) .el-step__title {
    overflow-wrap: break-word;
    max-width: 50%
}

.el-step.is-simple .el-step__arrow {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    display: flex
}

.el-step.is-simple .el-step__arrow:before,
.el-step.is-simple .el-step__arrow:after {
    content: "";
    background: var(--el-text-color-placeholder);
    width: 1px;
    height: 1.3rem;
    display: inline-block;
    position: absolute
}

.el-step.is-simple .el-step__arrow:before {
    transform-origin: 0 0;
    transform: rotate(-45deg)translateY(-0.4rem)
}

.el-step.is-simple .el-step__arrow:after {
    transform-origin: 100% 100%;
    transform: rotate(45deg)translateY(0.4rem)
}

.el-step.is-simple:last-of-type .el-step__arrow {
    display: none
}

.el-steps {
    line-height: normal;
    display: flex
}

.el-steps--simple {
    background: var(--el-fill-color-light);
    border-radius: 0.4rem;
    padding: 1.1rem 8%
}

.el-steps--horizontal {
    white-space: nowrap
}

.el-steps--vertical {
    flex-flow: column;
    height: 100%
}

.el-switch {
    --el-switch-on-color: var(--el-color-primary);
    --el-switch-off-color: var(--el-border-color);
    vertical-align: middle;
    align-items: center;
    height: 2.6rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
    display: inline-flex;
    position: relative
}

.el-switch.is-disabled .el-switch__core,
.el-switch.is-disabled .el-switch__label {
    cursor: not-allowed
}

.el-switch__label {
    transition: var(--el-transition-duration-fast);
    cursor: pointer;
    vertical-align: middle;
    height: 1.6rem;
    color: var(--el-text-color-primary);
    font-size: 1.2rem;
    font-weight: 500;
    display: inline-block
}

.el-switch__label.is-active {
    color: var(--el-color-primary)
}

.el-switch__label--left {
    margin-right: 0.8rem
}

.el-switch__label--right {
    margin-left: 0.8rem
}

.el-switch__label * {
    font-size: 1.2rem;
    line-height: 1;
    display: inline-block
}

.el-switch__label .el-icon {
    height: inherit
}

.el-switch__label .el-icon svg {
    vertical-align: middle
}

.el-switch__input {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
    position: absolute
}

.el-switch__input:focus-visible~.el-switch__core {
    outline: 2px solid var(--el-switch-on-color);
    outline-offset: 1px
}

.el-switch__core {
    border: 1px solid var(--el-switch-border-color, var(--el-switch-off-color));
    box-sizing: border-box;
    background: var(--el-switch-off-color);
    cursor: pointer;
    min-width: 3.4rem;
    height: 1.6rem;
    transition: border-color var(--el-transition-duration), background-color var(--el-transition-duration);
    border-radius: 0.8rem;
    outline: none;
    align-items: center;
    display: inline-flex;
    position: relative
}

.el-switch__core .el-switch__inner {
    width: 100%;
    transition: all var(--el-transition-duration);
    justify-content: center;
    align-items: center;
    height: 1.4rem;
    padding: 0 0.4rem 0 1.5rem;
    display: flex;
    overflow: hidden
}

.el-switch__core .el-switch__inner-wrapper {
    color: var(--el-color-white);
    -webkit-user-select: none;
    user-select: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    align-items: center;
    font-size: 1rem;
    display: flex;
    overflow: hidden
}

.el-switch__core .el-switch__action {
    border-radius: var(--el-border-radius-circle);
    transition: all var(--el-transition-duration);
    background-color: var(--el-color-white);
    width: 1.4rem;
    height: 1.4rem;
    color: var(--el-switch-off-color);
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    left: 1px
}

.el-switch.is-checked .el-switch__core {
    border-color: var(--el-switch-border-color, var(--el-switch-on-color));
    background-color: var(--el-switch-on-color)
}

.el-switch.is-checked .el-switch__core .el-switch__action {
    color: var(--el-switch-on-color);
    left: calc(100% - 1.4rem)
}

.el-switch.is-checked .el-switch__core .el-switch__inner {
    padding: 0 1.5rem 0 0.4rem
}

.el-switch.is-disabled {
    opacity: .6
}

.el-switch--wide .el-switch__label.el-switch__label--left span {
    left: 0.8rem
}

.el-switch--wide .el-switch__label.el-switch__label--right span {
    right: 0.8rem
}

.el-switch .label-fade-enter-from,
.el-switch .label-fade-leave-active {
    opacity: 0
}

.el-switch--large {
    height: 3.4rem;
    font-size: 1.2rem;
    line-height: 2rem
}

.el-switch--large .el-switch__label {
    height: 2rem;
    font-size: 1.2rem
}

.el-switch--large .el-switch__label * {
    font-size: 1.2rem
}

.el-switch--large .el-switch__core {
    border-radius: 1rem;
    min-width: 4.2rem;
    height: 2rem
}

.el-switch--large .el-switch__core .el-switch__inner {
    height: 1.6rem;
    padding: 0 0.5rem 0 1.8rem
}

.el-switch--large .el-switch__core .el-switch__action {
    width: 1.6rem;
    height: 1.6rem
}

.el-switch--large.is-checked .el-switch__core .el-switch__action {
    left: calc(100% - 1.7rem)
}

.el-switch--large.is-checked .el-switch__core .el-switch__inner {
    padding: 0 1.8rem 0 0.5rem
}

.el-switch--small {
    height: 2rem;
    font-size: 1rem;
    line-height: 1.4rem
}

.el-switch--small .el-switch__label {
    height: 1.4rem;
    font-size: 1rem
}

.el-switch--small .el-switch__label * {
    font-size: 1rem
}

.el-switch--small .el-switch__core {
    border-radius: 0.6rem;
    min-width: 2.5rem;
    height: 1.4rem
}

.el-switch--small .el-switch__core .el-switch__inner {
    height: 1rem;
    padding: 0 0.2rem 0 1.2rem
}

.el-switch--small .el-switch__core .el-switch__action {
    width: 1rem;
    height: 1rem
}

.el-switch--small.is-checked .el-switch__core .el-switch__action {
    left: calc(100% - 1.1rem)
}

.el-switch--small.is-checked .el-switch__core .el-switch__inner {
    padding: 0 1.2rem 0 0.2rem
}